Django==1.6.2
JPype==0.5.4.2
Markdown==2.3.1
South==0.8.4
argparse==1.2.1
decorator==3.4.0
distribute==0.6.49
django-filter==0.7
-e git+https://github.com/mlent/django-tastypie.git@9ce920d2acca06c52bcd7bc759f78190ba317ba4#egg=django_tastypie-master
httplib2==0.8
lucene-querybuilder==0.2
meld3==0.6.10
neo4j-embedded==1.6
neo4jrestclient==1.9.0
psycopg2==2.5.2
python-dateutil==2.1
python-mimeparse==0.1.4
six==1.4.1
wsgiref==0.1.2
