{% load i18n %}
<div class="microlesson">
	<div class="task"></div>
	<div class="left-nav">
		<ul class="study-notes-nav">
			<li class="active">
				<a href="#" data-toggle="tooltip" title="{% trans 'Grammar' %}" data-placement="right" data-target="grammar">
					<span class="glyphicon glyphicon-book">
				</a>
			</li>
			<li style="display: none">
				<a href="#" data-toggle="tooltip" title="{% trans 'Translation' %}" data-placement="right" data-target="alignment">
					<span class="glyphicon glyphicon-align-center">
				</a>
			</li>
			<li style="display: none">
				<a href="#" data-toggle="tooltip" title="{% trans 'Parsetree' %}" data-placement="right" data-target="parse-tree">
					<span class="glyphicon glyphicon-leaf">
				</a>
			</li>
		</ul>
		<div class="study-notes">
			<% var url = model.get('sentence_resource_uri'); %>
			<div data-source="alignment" class="note">
				<div data-toggle="morea" data-targets="<%= LOCALE.toLowerCase() %>,grc" data-dataUrl="<%= url %>"></div>
			</div>
			<div data-source="parse-tree" class="note">
				<!--<div data-toggle="daphne" data-dataSource="<%= url %>" data-mode="display"></div>-->
			</div>
			<div data-source="grammar" class="row note" style="display: block">

				<!-- The primary content -->
				<% content = content[0] %>

				<% if (user.get('is_superuser')) { %>
					<div class="btn-group btn-group-justified">
						<a class="btn btn-default">{% trans "Admin Panel" %}</a>
						<a href="/admin/app/grammar/<%= model.get('id') %>" target="_blank" class="btn btn-warning">{% trans "Edit Grammar Topic" %}</a>
					</div>
					<br>
				<% } %>
				<div class="panel-group" id="topic-panel">
					<div class="panel panel-default primary-topic">
						<div class="panel-heading">
							<% if (user.get('is_superuser')) { %>
									<a href="/admin/app/content/<%= content.id %>" class="btn btn-warning admin-link" data-toggle="tooltip" data-placement="right" title="Edit" target="_blank"><span class="glyphicon glyphicon-pencil"></span></a>
							<% } %>
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#topic-panel" href="#collapse-<%= content.id %>" data-id="<%= content.id %>">
									<%= content.title %>
								</a>
							</h4>
						</div>
						<div id="collapse-<%= content.id %>" class="panel-collapse collapse">
							<div class="panel-body" data-id="<%= content.id %>">
								<%= content.content %>
							</div>
						</div>
					</div>
					<!-- Related Content -->
					<% _.each(content.related_content, function(topic) { %>	
						<div class="panel panel-default">
							<div class="panel-heading">
								<% if (user.get('is_superuser')) { %>
									<a href="/admin/app/content/<%= topic.id %>" class="btn btn-warning admin-link" data-toggle="tooltip" data-placement="right" title="Edit" target="_blank"><span class="glyphicon glyphicon-pencil"></span></a>
								<% } %>
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#topic-panel" href="#collapse-<%= topic.id %>" data-id="<%= topic.id %>">
										<%= topic.title %>
									</a>
								</h4>
							</div>
							<div id="collapse-<%= topic.id %>" class="panel-collapse collapse">
								<% var style = topic.title.indexOf("Alphabet") !== -1 ? 'text-align: center; background-color: #DDD' : '' %>
								<div class="panel-body" data-id="<%= topic.id %>" style="<%= style %>">
									<%= topic.content %>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
