@import "_directional";

/*
*	Global CSS
*/

/** RTL Support!!!! **/
@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: $left;
		direction: $dir;
	}
}
.progress-bar {
	float: $left;
}
blockquote {
	border-#{$left}: 5px solid;
	border-#{$right}: 0;
}

/* Color Scheme! */
$color-pri-one: #D15241; //#F44D61; //#BE1E2D; 		// Bright red
$color-pri-two: #1FADAD; 		// Teal
$color-pri-two-darker: rgba(9, 61, 61, 0.3);
$color-pri-two-lighter: #56C7C7;
$color-pri-three: #523D5B;		// Purple

$color-sec-one: #931926;		// Deep red
$color-sec-two: #373E4E; //#4E6087;		// Indigo
$color-sec-two-lighter: #62749C; 
$color-sec-three: #0EBBA1;	 	// Seafoam
$color-sec-four: #F4BC78;		// Yellow

$color-light-green: #A3D55F;
$color-dark-green: #49A556;

$text-light-color: #EEE;
$text-dark-color: #666;

/* Fonts! */
$font-family: 'Myriad Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/* Mix-ins */
// Background-color transition
@mixin transition($prop, $len, $style) {
	$trans: $prop $len $style;

	-webkit-transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	-ms-transition: $trans;
	transition: $trans;
}
@mixin gradient($top-color, $top-percent, $bottom-color, $bottom-percent) {
	background-image: linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -o-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -moz-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -webkit-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -ms-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop($top-percent / 100, $top-color),
		color-stop($bottom-percent / 100, $bottom-color)
	);

	background-color: $top-color;
}
@mixin animate($name, $duration, $timing-function, $delay, $iteration-count) {
	-webkit-animation: $name $duration $timing-function $delay $iteration-count;
	-moz-animation: $name $duration $timing-function $delay $iteration-count;
	-o-animation: $name $duration $timing-function $delay $iteration-count;
	animation: $name $duration $timing-function $delay $iteration-count;
}
@mixin wiggle {
	@include animate(wiggle, .2s, ease, 0, 3);
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotateZ(2deg);
	}
	50% {
		-webkit-transform: rotateZ(-2deg);
	}
	100% {
		-webkit-transform: rotateZ(2deg);
	}
}

@-moz-keyframes wiggle {
	0% {
		-moz-transform: rotateZ(2deg);
	}
	50% {
		-moz-transform: rotateZ(-2deg);
	}
	100% {
		-moz-transform: rotateZ(2deg);
	}
}
@-o-keyframes wiggle {
	0% {
		-o-transform: rotateZ(2deg);
	}
	50% {
		-o-transform: rotateZ(-2deg);
	}
	100% {
		-o-transform: rotateZ(2deg);
	}
}

@keyframes wiggle {
	0% {
		transform: rotateZ(2deg);
	}
	50% {
		transform: rotateZ(-2deg);
	}
	100% {
		transform: rotateZ(2deg);
	}
}

@import "header";

html, body {
	height: 100%;
}
body {
	color: #333;
	font-family: $font-family;
	//background-image: url('/static/images/footer_graphic.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-attachment: fixed;
}
a {
	color: $color-pri-two;

	&:hover {
		color: darken($color-pri-two, 10%);
	}
}
blockquote {
	line-height: 40px;
}
[lang="grc"], div[lang="grc"] {
	font-family: 'Cambria', 'Times New Romans' !important;
	font-size: 1.1em;
	letter-spacing: 0.1em;

	em {
		background-color: #FFF0A3;
		border-radius: 3px;
		padding: 3px;
		font-style: normal;
	}
	em[data-toggle="tooltip"] {
		cursor: pointer;
	}
}
.masc {
	color: $color-pri-two; // #3882C5;
}
.fem {
	color: $color-pri-one; //#E04A62;
}
.neut {
	color: $color-dark-green; //#3C8818;
}
p {
	line-height: 3em;
}

p span[lang="grc"] {
	border: 1px solid #EEE;
	padding: 2px;
	border-radius: 3px;
	background-color: #F6F6F6;
	margin-left: 3px;
	margin-right: 3px;
}
/* Override Bootstrap Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Garamond';
}
.btn {
	text-decoration: none;
	border-radius: 2px;

	&.btn-link {
		border: 0;
		color: $color-pri-two;
		text-decoration: none;
	}
}
.nav-pills > li.active > a {
	background-color: $color-pri-one;

	&:hover {
		background-color: darken($color-pri-one, 5%);
	}
}
.nav > li > a{
	padding: 8px 10px;
}
label {
	font-weight: normal;
	font-size: 1.2em;
}
.label {
	padding: 0.4em 0.6em 0.3em;
	margin: 0px 3px;
	
	&.label-default {
		background-color: #BBB;
	}
	&.label-primary {
		background-color: $color-pri-two;
	}
	&.label-danger {
		background-color: $color-pri-one;
	}
	&.label-success {
		background-color: $color-light-green;
	}
	&.label-info {
		background-color: $color-sec-two;
	}
}
.container {
	max-width: none !important;
	width: 100%;
	padding: 0;
	height: 100%;
}
.row {
	margin: 0;
}
.alert {
	&.alert-success {
		strong {
			color: #19641A !important;
		}
	}
}

// Make bootstrap form controls RTL friendly...
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
	border-bottom-#{$right}-radius: 0 !important;
	border-top-#{$right}-radius: 0 !important;
	border-top-#{$left}-radius: 3px !important;
	border-bottom-#{$left}-radius: 3px !important;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {

	border-bottom-#{$left}-radius: 0 !important;
	border-top-#{$left}-radius: 0 !important;
	border-top-#{$right}-radius: 3px !important;
	border-bottom-#{$right}-radius: 3px !important;
}

/*
*	Style for main viewport
*/
#main {
	position: absolute;
	height: 100%;
	top: 0;
	padding-top: $banner-height;
	width: 100%;
	
	.lesson-right-menu {
		position: relative;
		height: 40%;

		a {
			color: $color-sec-two;
			position: absolute;
			font-size: 70px;
			top: 0;
			left: 0;
		}
	}

	strong {
		margin-left: 2px;
		margin-right: 2px;
		letter-spacing: 0.05em;
		color: $color-sec-two;
	}
}
/* Styles related to the intro page */
.thuc {
	display: inline-block;

	.wiggle {
		@include animate(wiggle, .2s, ease, 2s, 3);
		display: inline-block;
	}
}
.wiggle {
	@include animate(wiggle, .5s, ease, 0, 3);
}

// Used as navigation in Reader and in Lessons
.corner {
	content: "";
	position: fixed;
	border-style: solid;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);

	&.left {
		@include if-ltr {
			top: $banner-height;
			left: 0;
			border-color: #EEE #FFF;
			border-width: 60px 60px 0 0;

			a {
				top: -60px;
				border-width: 0 0 60px 60px;
				border-color: #FFF $color-pri-one;

				&::after {
					left: -55px;
					top: 1px;
					content: "\e091";
				}
				&:hover {
					border-color: #FFF lighten($color-pri-one, 5%);
				}
			}
		}

		@include if-rtl {
			top: $banner-height;
			right: 0;
			border-color: #EEE #FFF;
			border-width: 0 60px 60px 0;

			a {
				right: -60px;
				border-width: 60px 0 0 60px;
				border-color: $color-pri-one #FFF;

				&::after {
					right: 5px;
					top: -57px;
					content: "\e092";
				}
				&:hover {
					border-color: lighten($color-pri-one, 5%) #FFF;
				}
			}
		}
	}
	&.right {
		@include if-rtl {
			top: $banner-height;
			left: 0;
			border-color: #EEE #FFF;
			border-width: 60px 60px 0 0;

			a {
				top: -60px;
				border-width: 0 0 60px 60px;
				border-color: #FFF $color-pri-one;

				&:after {
					left: -55px;
					top: 1px;
					content: "\e091";
				}
				&:hover {
					border-color: #FFF lighten($color-pri-one, 5%);
				}
			}
		}

		@include if-ltr {
			top: $banner-height;
			right: 0;
			border-color: #EEE #FFF;
			border-width: 0 60px 60px 0;

			a {
				right: -60px;
				border-width: 60px 0 0 60px;
				border-color: $color-pri-one #FFF;

				&::after {
					right: 5px;
					top: -57px;
					content: "\e092";
				}
				&:hover {
					border-color: lighten($color-pri-one, 5%) #FFF;
				}
			}
		}
	}

	a {
		top: 0;
		position: absolute;
		border-style: solid;
		color: #FFF;

		&::after {
			font-family: 'Glyphicons Halflings';
			font-size: 24px;
			position: absolute;
		}

	}
}
.loading:before {
	content: url(/static/images/tree-loader.gif);
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 2;
	text-align: center;
	padding: 20px;
}
.pie-container {
	text-align: center;

	#vocab, #morph, #syn {
		display: inline-block;
		margin: 10px;
		max-width: 200px;
		vertical-align: text-top;
	}

	p {
		font-size: 0.9em;
		line-height: 2em;
	}

	#vocab h3 {
		color: $color-pri-one;
	}
	#morph h3 {
		color: $color-pri-two;
	}
	#syn h3 {
		color: $color-pri-three;
	}
}
.report {
	position: fixed;
	bottom: 0;
	left: 0;

	$c: #ACB6CC;

	a {
		display: block;
		box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);
		@include gradient($color-sec-two, 0, lighten($color-sec-two, 5%), 100);
		padding: 6px;
		color: #EEE;
		height: 28px;
		width: 28px;
		border-radius: 50%;
		border: 2px solid #FFF;
		font-size: 12px;
		margin: 5px;
		position: relative;
		@include transition(background-color, 2s, cubic);

		&:hover {
			box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);
			@include gradient(darken($color-sec-two, 5%), 0, $color-sec-two, 100);
			@include transition(background-color, 2s, cubic);
		}

		&:hover:before {
			content: "";
			width: 0;
			height: 0;
			border-top: 10px solid rgba(0, 0, 0, 0);
			border-bottom: 10px solid rgba(0, 0, 0, 0);
			border-right: 10px solid lighten($c, 20%);
			position: absolute;
			right: -14px;
			top: 2px;
		}

		&:hover:after {
			width: 100px;
			background-color: lighten($c, 20%);
			position: absolute;
			padding: 2px 8px;
			top: -1px;
			color: $color-sec-two;
			border-radius: 5px;
			left: 32px;
			content: attr(data-title);
			height: 25px;
			line-height: 22px;
		}
	}
}
