@import "global";

.author {
	display: inline-block;
	background-color: $color-pri-two;
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;

	img {
		height: 200px;
		@include transition(height, .1s, linear);
	}
	&:after {
		@include transition(all, .1s, linear);
		background-image: url(/static/images/glasses.svg);
		background-size: 70px;
		content: '';
		position: absolute;
		width: 70px;
		height: 23px;
		top: 72px;
		left: 61px;
	}

}
.edition {
	padding: 10px;
	border: 1px solid #EEE;
	margin-bottom: 10px;
	text-decoration: none;
	display: block;
	color: inherit;
	position: relative;

	&:hover {
		text-decoration: none;
		color: inherit;

		& .author {
			background-color: lighten($color-pri-two, 5%);	
			@include transition(background-color, .1s, linear);

			img {
				height: 220px;
				@include transition(height, .1s, linear);
			}
			&:after {
				@include transition(all, .1s, linear);
				background-size: 79px;
				width: 79px;
				height: 26px;
				top: 81px;
				left: 66px;
			}
		}

		&:before {
			position: absolute;
			right: 20px;
			top: 20px;
			content: 'Greek out!';
			border-radius: 2px;
			padding: 2px 15px;
			display: block;
			background-color: rgba(0, 0, 0, 0.5);
			color: #FFF;
			z-index: 1;
			@include transition(background-color, .1s, cubic);
		}
	}

	&:before {
		position: absolute;
		display: none;
		right: 20px;
		top: 0;
		content: '';
		z-index: 1;
		background-color: rgba(0, 0, 0, 0);
		@include transition(background-color, .1s, cubic);
	}

	.progress {
		height: 10px;
		border-radius: 0;
	}
	.progress-bar {
		background-color: $color-pri-one;
	}
}

#language-selector {
	text-align: center;

	.btn-group {
		text-align: left;
	}
	& > span {
		margin-right: 10px;
	}
}
