/*
*	Global CSS
*/
/** RTL Support!!!! **/
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    direction: ltr; } }
.progress-bar {
  float: left; }

/* Color Scheme! */
/* Fonts! */
/* Mix-ins */
@-webkit-keyframes bounce {
  0% {
    top: 92px;
    animation-timing-function: ease-in; }

  37% {
    top: 62px;
    animation-timing-function: ease-out; }

  55% {
    top: 92px;
    animation-timing-function: ease-in; }

  73% {
    top: 78px;
    animation-timing-function: ease-out; }

  82% {
    top: 92px;
    animation-timing-function: ease-in; }

  91% {
    top: 88px;
    animation-timing-function: ease-out; }

  100% {
    top: 92px;
    animation-timing-function: ease-in; } }

@keyframes bounce {
  0% {
    top: 92px;
    animation-timing-function: ease-in; }

  37% {
    top: 62px;
    animation-timing-function: ease-out; }

  55% {
    top: 92px;
    animation-timing-function: ease-in; }

  73% {
    top: 78px;
    animation-timing-function: ease-out; }

  82% {
    top: 92px;
    animation-timing-function: ease-in; }

  91% {
    top: 88px;
    animation-timing-function: ease-out; }

  100% {
    top: 92px;
    animation-timing-function: ease-in; } }

.bounce {
  -webkit-animation: bounce 1s ease 0.5s 1;
  -moz-animation: bounce 1s ease 0.5s 1;
  -o-animation: bounce 1s ease 0.5s 1;
  animation: bounce 1s ease 0.5s 1; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(2deg); }

  50% {
    -webkit-transform: rotateZ(-2deg); }

  100% {
    -webkit-transform: rotateZ(2deg); } }

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotateZ(2deg); }

  50% {
    -moz-transform: rotateZ(-2deg); }

  100% {
    -moz-transform: rotateZ(2deg); } }

@-o-keyframes wiggle {
  0% {
    -o-transform: rotateZ(2deg); }

  50% {
    -o-transform: rotateZ(-2deg); }

  100% {
    -o-transform: rotateZ(2deg); } }

@keyframes wiggle {
  0% {
    transform: rotateZ(2deg); }

  50% {
    transform: rotateZ(-2deg); }

  100% {
    transform: rotateZ(2deg); } }

html, body {
  height: 100%; }

body {
  color: #333;
  font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed; }

a {
  color: #1fadad; }
  a:hover {
    color: #178282; }

blockquote {
  line-height: 40px; }

[lang="grc"], div[lang="grc"] {
  font-family: 'Cambria', 'Times New Romans' !important;
  font-size: 1.3em;
  letter-spacing: 0.1em; }
  [lang="grc"] em, div[lang="grc"] em {
    background-color: #FFF0A3;
    border-radius: 3px;
    padding: 3px;
    font-style: normal; }
  [lang="grc"] em[data-toggle="tooltip"], div[lang="grc"] em[data-toggle="tooltip"] {
    cursor: pointer; }

.masc {
  color: #1fadad; }

.fem {
  color: #d15241; }

.neut {
  color: #49a556; }

p {
  line-height: 3em; }

p span[lang="grc"] {
  border: 1px solid #EEE;
  padding: 2px;
  border-radius: 3px;
  background-color: #F6F6F6;
  margin-left: 3px;
  margin-right: 3px; }

/* Override Bootstrap Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Garamond'; }

.btn {
  border: 1px solid #EEE;
  text-decoration: none;
  border-radius: 2px; }
  .btn.btn-link {
    border: 0;
    color: #1fadad;
    text-decoration: none; }

label {
  font-weight: normal;
  font-size: 1.2em; }

.label {
  padding: 0.4em 0.6em 0.3em;
  margin: 0px 3px; }
  .label.label-default {
    background-color: #BBB; }
  .label.label-primary {
    background-color: #1fadad; }
  .label.label-danger {
    background-color: #d15241; }
  .label.label-success {
    background-color: #a3d55f; }
  .label.label-info {
    background-color: #4e6087; }

.container {
  max-width: none !important;
  width: 100%;
  padding: 0;
  height: 100%; }

.row {
  margin: 0; }

.alert.alert-success strong {
  color: #19641A !important; }

/* Header */
.banner {
  color: #EEE;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -o-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -moz-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -webkit-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -ms-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4e6087), color-stop(1, #576b97));
  background-color: #4e6087;
  background-color: #4e6087;
  position: fixed;
  width: 100%;
  height: 43px;
  z-index: 1; }
  .banner #search-form {
    margin: 7px 0px; }
    .banner #search-form .form-group {
      margin-bottom: 7px; }
  .banner #logo-container {
    padding-top: 4px; }
    .banner #logo-container img {
      height: 35px;
      margin-right: 4px; }
  .banner .user-data a {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-left: 10px;
    color: #EEE;
    letter-spacing: 0.08em; }

.navigation {
  text-align: center; }
  .navigation span {
    text-shadow: 1px 1px 2px rgba(30, 9, 82, 0.22);
    font-size: 12px; }
  .navigation span + span {
    margin-left: 5px;
    font-size: 14px; }
  .navigation .glyphicon-flash {
    color: #f4bc78; }
  .navigation .glyphicon-bookmark {
    color: #d66556; }
  .navigation .glyphicon-comment {
    color: #1fadad; }
  .navigation a {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.1em;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out; }
    .navigation a:hover {
      background-color: #576b97;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
    .navigation a.active {
      background-color: #6378a5;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
    .navigation a strong {
      font-size: 18px;
      font-weight: normal; }
      .navigation a strong span {
        margin-right: 5px; }
    .navigation a small {
      display: block;
      font-size: 11px; }
    .navigation a.progress-book {
      color: #eeeeee; }
    .navigation a.progress-voc {
      color: #eeeeee; }
    .navigation a.progress-lessons {
      color: #eeeeee; }

.user-info {
  margin: 4px; }
  .user-info img {
    margin-right: 10px; }
  .user-info a {
    color: #EEE; }
  .user-info a.username, .user-info a.log-in-link {
    border: 0;
    background-color: #3b4967;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block; }
    .user-info a.username:hover, .user-info a.log-in-link:hover {
      background-color: #6378a5;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      -ms-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      box-shadow: 2px 2px 3px #455577;
      color: #FFF; }
      .user-info a.username:hover img, .user-info a.log-in-link:hover img {
        box-shadow: 2px 2px 3px #455577; }

/*
*	Style for main viewport
*/
#main {
  position: absolute;
  height: 100%;
  top: 0;
  padding-top: 43px;
  width: 100%; }
  #main .lesson-right-menu {
    position: relative;
    height: 40%; }
    #main .lesson-right-menu a {
      color: #4e6087;
      position: absolute;
      font-size: 70px;
      top: 0;
      left: 0; }
  #main strong {
    margin-left: 2px;
    margin-right: 2px;
    letter-spacing: 0.05em;
    color: #4e6087; }

/* Styles related to the intro page */
.thuc {
  display: inline-block; }
  .thuc .wiggle {
    -webkit-animation: wiggle 0.2s ease 2s 3;
    -moz-animation: wiggle 0.2s ease 2s 3;
    -o-animation: wiggle 0.2s ease 2s 3;
    animation: wiggle 0.2s ease 2s 3;
    display: inline-block; }

.wiggle {
  -webkit-animation: wiggle 0.5s ease 0 3;
  -moz-animation: wiggle 0.5s ease 0 3;
  -o-animation: wiggle 0.5s ease 0 3;
  animation: wiggle 0.5s ease 0 3; }

.corner {
  content: "";
  position: fixed;
  border-style: solid;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3); }
  .corner.left {
    top: 43px;
    left: 0;
    border-color: #EEE #FFF;
    border-width: 60px 60px 0 0; }
    .corner.left a {
      top: -60px;
      border-width: 0 0 60px 60px;
      border-color: white #d15241; }
      .corner.left a::after {
        left: -55px;
        top: 1px;
        content: "\e091"; }
      .corner.left a:hover {
        border-color: white #d66556; }
  .corner.right {
    top: 43px;
    right: 0;
    border-color: #EEE #FFF;
    border-width: 0 60px 60px 0; }
    .corner.right a {
      right: -60px;
      border-width: 60px 0 0 60px;
      border-color: #d15241 white; }
      .corner.right a::after {
        right: 5px;
        top: -57px;
        content: "\e092"; }
      .corner.right a:hover {
        border-color: #d66556 white; }
  .corner a {
    top: 0;
    position: absolute;
    border-style: solid;
    color: #FFF; }
    .corner a::after {
      font-family: 'Glyphicons Halflings';
      font-size: 24px;
      position: absolute; }

#toc {
  background-color: #3b4967;
  color: #BBB;
  width: 20%;
  padding: 20px;
  float: left;
  overflow-y: scroll;
  position: fixed;
  height: 100%; }
  #toc h2 {
    color: #DDD; }
  #toc ul {
    list-style-type: none;
    padding-left: 0; }
  #toc li {
    margin: 0 -20px 0 -20px; }
    #toc li.selected {
      background-color: #1fadad; }
      #toc li.selected a {
        color: #EEE; }
  #toc ul li {
    padding: 10px 10px 10px 20px; }
  #toc ul ul li {
    padding: 10px 10px 10px 40px; }
  #toc ul ul ul li {
    padding: 10px 10px 10px 60px; }

#grammar-container {
  position: absolute;
  left: 20%;
  padding: 10px;
  top: 43px;
  width: 80%; }
  #grammar-container div[data-url^="/"] {
    border: 1px solid #DDD;
    padding: 60px;
    margin: 10px;
    background-color: #FFF;
    position: relative; }
  #grammar-container .corner {
    position: absolute;
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.3); }
    #grammar-container .corner.right {
      top: -1px;
      right: -1px; }
