@import "_global";

#splash {
	background-color: $color-pri-two;
	position: relative;
	min-height: 300px;
	padding: 20px;
	color: #EEE;
	margin-top: 43px;

	.thuc {
		position: absolute;
		top: 0;
		left: 0;
	}


	form {
		width: 80%;
	}

	img {
		height: 330px;
	}

	h1 {
		display: inline-block;
		font-family: 'Garamond';
		font-size: 5em;
	}

	p {
		font-size: 1.3em;
		line-height: 1.7em;
	}
}
#login-link {
	position: absolute;
	right: 10px;
	top: 10px;
	border: 0;
	background-color: rgba(255, 255, 255, .4);
	z-index: 10;
	color: #FFF;
	padding: 10px 20px;
	@include transition(background-color, .2s, ease-out);

	&:hover {
		background-color: rgba(255, 255, 255, .6);
		@include transition(background-color, .2s, ease-in);
	}
}
.register-link {
	border: 0;
	border-radius: 3px;
	font-size: 24px;
	background-color: $color-pri-one;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	color: #FFF;
	@include transition(background-color, .2s, ease-out);

	&:hover {
		@include transition(background-color, .2s, ease-in);
		background-color: lighten($color-pri-one, 3%);
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
		top: -2px;
	}
}
