@import "_global";

.module-container {
	padding-top: 20px;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.module {
	background-color: #DDE3EC;
	text-align: center;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	width: 100%;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 10px;
	vertical-align: top;
	position: relative;
	box-shadow:	0px 0px 4px 0px rgba(0, 0, 0, .1);
	@include transition(background-color, .2s, ease-out);

	img {
		height: 65px;
	}

	&:hover {
		text-decoration: none;
	}	

	@mixin tile($color) {
		background-color: $color;

		p {
			color: #eee;
		}

		&:hover {
			background-color: lighten($color, 5%);
			@include transition(background-color, .2s, ease-in);
		}
	}

	// Progress pies!
	.donut {
		border-radius: 50%;
		border: 50px solid #DDD;
		height: 210px;
		width: 210px;
		position: absolute;
		z-index: -1;
		top: -5px;
		left: -5px;

		&.percent-25 {
			border-top: 50px solid $color-pri-one;
			border-right: 50px solid transparent;
			border-bottom: 50px solid transparent;
			border-left: 50px solid transparent;
			-webkit-transform: rotate(45deg);
		}
		&.percent-50 {
			border-top: 50px solid $color-pri-one;
			border-right: 50px solid $color-pri-one;
			border-bottom: 50px solid transparent;
			border-left: 50px solid transparent;
			-webkit-transform: rotate(45deg);
		}
		&.percent-75 {
			border-top: 50px solid $color-pri-one;
			border-right: 50px solid $color-pri-one;
			border-bottom: 50px solid $color-pri-one;
			border-left: 50px solid transparent;
			-webkit-transform: rotate(45deg);
		}
		&.percent-100 {
			border-top: 50px solid $color-pri-one;
			border-right: 50px solid $color-pri-one;
			border-bottom: 50px solid $color-pri-one;
			border-left: 50px solid $color-pri-one;
			-webkit-transform: rotate(45deg);
		}
	}

	&[class*="verbs"], &[class*="adverbs"] {
		$color: $color-pri-two;

		.percent-25 {
			border-top-color: $color;
		}
		.percent-50 {
			border-top-color: $color;
			border-right-color: $color;
		}
		.percent-75 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
		}
		.percent-100 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
		}

		&:hover {
			@include tile($color);
		}
	}

	&[class*="adjectives"] {
		$color: $color-sec-two;

		.percent-25 {
			border-top-color: $color;
		}
		.percent-50 {
			border-top-color: $color;
			border-right-color: $color;
		}
		.percent-75 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
		}
		.percent-100 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
		}

		&:hover {
			@include tile($color);
		}
	}
	&[class*="foundational"] {
		$color: $color-pri-one;

		.percent-25 {
			border-top-color: $color;
		}
		.percent-50 {
			border-top-color: $color;
			border-right-color: $color;
		}
		.percent-75 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
		}
		.percent-100 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
		}

		&:hover {
			@include tile($color);
		}
	}

	&[class*="nouns"] {
		$color: $color-sec-one;

		.percent-25 {
			border-top-color: $color;
		}
		.percent-50 {
			border-top-color: $color;
			border-right-color: $color;
		}
		.percent-75 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
		}
		.percent-100 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
		}

		&:hover {
			@include tile($color);
		}
	}

	&[class*="participles"], &[class*="adverbs"] {
		$color: $color-sec-four;

		.percent-25 {
			border-top-color: $color;
		}
		.percent-50 {
			border-top-color: $color;
			border-right-color: $color;
		}
		.percent-75 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
		}
		.percent-100 {
			border-top-color: $color;
			border-right-color: $color;
			border-bottom-color: $color;
			border-left-color: $color;
		}

		&:hover {
			@include tile($color);
		}
	}

	&[class*="admin"] {
		span.glyphicon {
			color: $color-pri-one;
			font-size: 56px;
		}
	}

	p {
		color: #333;
		position: absolute;
		width: 80%;
		top: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}

/*
*	Used in lessons to show the parts of the word
*	e.g. past indicative augment, stem, ending.
*/
.word-breakdown {
	text-align: center;

	table {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		padding: 10px;
	}

	td.part {
		span[lang="grc"] {
			font-size: 3em;
		}
		hr {
			margin-bottom: 0;
			border-top: 1px solid #888;
		}
		.caret {
			color: #AAA;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	}
}
/*
*	Styles inflection tables
*/
table.inflection-table {
	font-size: 0.9em;

	span[lang="grc"] strong {
		color: $color-pri-two;
		background-color: #f5f5f5;
		padding: 3px;
	}

	tr.current {
		background-color: $color-pri-one;
		color: #FFF;

		span[lang="grc"] {
			color: #FFF;

			em {
				color: $color-pri-two;
				background-color: #FFF;
			}
		}
	}
	tr.future {
		span[lang="grc"] {
			color: #CCC;
		}
	}
	tr.past {
		color: #333;
		span[lang="grc"] {
			color: #333;
		}
	}
}

.task {
	margin-left: auto; 
	margin-right: auto;

	h1, h2, h3 {
		text-align: center;
	}
	h1 {
		font-size: 3em;
	}
	&.active {
		display: block;
	}

	p {
		text-align: center;
	}
	.alt-definitions {
		color: #999;
		text-align: center;
		font-style: italic;
	}
	.btn {
		margin-left: auto;
		margin-right: auto;
	}
	.parse-tree {
		display: none;
		text-align: center;

		&.open {
			display: block;
		}
	}
	.vocab-notes-container {
		p {
			text-align: left;
		}
	}
	.glyphicon {
		margin-#{$right}: 10px;
	}
	ul.nav a {
		font-size: 12px;
	}
	.greek-sentence {
		.correct {
			color: $color-dark-green; 
			font-weight: bold;
		}
		.incorrect {
			color: $color-pri-one;
			font-weight: bold;
		}
	}
}
.microlesson {
	height: 100%;

	ul.study-notes-nav {
		margin-top: 20px;
		list-style-type: none;
		font-size: 12px;
		position: absolute;
		#{$right}: -50px;
		line-height: 30px;

		li.active a {
			color: #FFF;
		}
		
		a {
			padding: 20px;
			border-radius: 3px;
			margin-bottom: 2px;
			background-color: darken($color-sec-two, 5%);
			color: lighten($color-sec-two, 40%);
		}
	}
	.study-notes {
		border: 1px solid darken($color-sec-two, 10%);
		padding: 20px;
		box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, .1);
		background-color: $color-sec-two;
		height: 100%;
		overflow-y: scroll;
		position: fixed;
		width: 33%;
	}
	.left-nav {
		height: 100%;
		width: 33%;
		padding: 0;
		position: relative;
	}
	.task {
		position: absolute;
		#{$left}: 33%;
		width: 66%;
	}

	table {
		width: 100%;
	}
	tr, td {
		border-bottom: 1px solid #DDD;
		padding: 8px;
	}
}
.answer-box {
	background-color: $text-light-color;
	padding: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	.sentence {
		font-size: 24px;
		line-height: 50px;
		text-align: center;
		display: block;
	}
	.tooltip {
		font-size: 16px;
		width: auto;
	}
	&.success {
		background-color: lighten($color-light-green, 20%);
	}
	.success {
		color: $color-dark-green;
	}
	&.warning {
		background-color: lighten($color-sec-four, 20%);
	}
	.warning {
		color: darken($color-sec-four, 20%);
	}
	&.error {
		background-color: lighten($color-pri-one, 20%);
	}
	.error {
		color: $color-pri-one;
	}
}

// Grammar panels
.panel .admin-link {
	float: #{$right};
}
.panel-heading .admin-link {
	padding: 5px 7px 0 5px;
	border-radius: 50%;
	margin-top: -6px;
	margin-#{$right}: -8px;
}
.panel.primary-topic {
	border-color: darken($color-pri-one, 10%);

	.panel-heading {
		background-color: $color-pri-one;
		color: #EEE;
	}
}
