@import "global";
/**
 * Styles used on the lessons.
 */ 
/*
*	The lesson boxes visible on the lessons screen
*/
.module-container {
	padding-top: 20px;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.module {
	background-color: lighten($color-sec-two, 50%);
	text-align: center;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	width: 100%;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 10px;
	vertical-align: top;
	position: relative;
	box-shadow:	0px 0px 4px 0px rgba(0, 0, 0, .1);

	img {
		height: 65px;
	}

	&:hover {
		text-decoration: none;
	}	

	@mixin tile($color) {
		background-color: $color;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color, 5%);
			@include transition(background-color, .2s, ease-in);
			box-shadow: 2px 2px 3px #CCC;
			position: relative;
			top: -3px;
		}
	}

	&[class*="verbs"] {
		@include tile($color-pri-two);
	}
	&[class*="adjectives"] {
		@include tile($color-sec-two);
	}
	&[class*="foundational"] {
		@include tile($color-pri-one);
	}
	&[class*="nouns"] {
		@include tile($color-sec-one);
	}
	&[class*="participles"] {
		@include tile($color-sec-four);
	}
	&[class*="adverbs"] {
		@include tile($color-sec-three);
	}

	p {
		color: $text-light-color;
		position: absolute;
		width: 80%;
		top: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}

// Styling for Alphabet units
.alphabet {
	list-style-type: none;
	border: 1px solid #EEE;
	width: 100%;
	padding-left: 0;
	margin-bottom: 20px !important;
	
	li {
		font-family: 'Cambria', 'Times New Romans' !important;
		display: inline;
		font-size: 24px;
		padding: 5px 10px;
		color: #AAA;
		margin-left: -3px;
		margin-right: -3px;

		&.learned {
			color: #333;
			background-color: desaturate(lighten($color-pri-one, 30%), 0%);
		}
		&.current {
			color: #FFF;
			background-color: $color-pri-one;
		}
	}
}
.letter {
	text-align: center;
	padding: 30px;
	box-sizing: border-box;

	img {
		height: 200px;
		max-width: 200px;
		max-width: 100%;
	}

	&.bg-light {
		background-color: #F4CDA2;	
	}
	&.bg-med {
		background-color: desaturate(lighten($color-pri-two, 40%), 30%);
	}
	&.bg-dark {
		background-color: desaturate(lighten($color-sec-two, 35%), 5%);
	}

	hr {
		border: 1px solid #FFF;
	}

	a {
		background-color: #FFF;
		padding: 6px 9px 3px 6px;
		border-radius: 2px;
		margin: 6px;
	}
}

/*
*	Used in lessons to show the parts of the word
*	e.g. past indicative augment, stem, ending.
*/
.word-breakdown {
	text-align: center;

	table {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		padding: 10px;
	}

	td.part {
		span[lang="grc"] {
			font-size: 3em;
		}
		hr {
			margin-bottom: 0;
			border-top: 1px solid #888;
		}
		.caret {
			color: #AAA;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	}
}
/*
*	Styles inflection tables
*/
table.inflection-table {
	font-size: 0.9em;

	span[lang="grc"] strong {
		color: $color-pri-two;
		background-color: #f5f5f5;
		padding: 3px;
	}

	tr.current {
		background-color: $color-pri-one;
		color: #FFF;

		span[lang="grc"] {
			color: #FFF;

			em {
				color: $color-pri-two;
				background-color: #FFF;
			}
		}
	}
	tr.future {
		span[lang="grc"] {
			color: #CCC;
		}
	}
	tr.past {
		color: #333;
		span[lang="grc"] {
			color: #333;
		}
	}
}

// For our trial units
.alert.as-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	border-radius: 0;
	height: 43px;
	font-size: 14px;
	padding: 10px;
	overflow: hidden;
	line-height: 26px;

	a.btn {
		margin: -5px 5px -5px -5px;
	}
}

.new-knowledge {
	span.glyphicon {
		margin-left: 10px;
		margin-right: 10px;

		&.glyphicon-flash {
			color: $color-sec-four;	
		}
		&.glyphicon-inbox {
			color: $color-pri-two;
		}
		&.glyphicon-bookmark {
			color: $color-pri-one;
		}
	}
}

.task {
	margin-left: auto; 
	margin-right: auto;

	h1, h2, h3 {
		text-align: center;
	}
	h1 {
		font-size: 3em;
	}
	&.active {
		display: block;
	}

	p {
		text-align: center;
	}
	.alt-definitions {
		color: #999;
		text-align: center;
		font-style: italic;
	}
	.btn {
		margin-left: auto;
		margin-right: auto;
	}
	.parse-tree {
		display: none;
		text-align: center;

		&.open {
			display: block;
		}
	}
	.vocab-notes-container {
		p {
			text-align: left;
		}
	}
	.glyphicon {
		margin-right: 10px;
	}
	ul.nav a {
		font-size: 12px;
	}
	.greek-sentence {
		.correct {
			color: $color-dark-green; 
			font-weight: bold;
		}
		.incorrect {
			color: $color-pri-one;
			font-weight: bold;
		}
	}
}
.microlesson {
	height: 100%;

	ul.study-notes-nav {
		margin-top: 20px;
		list-style-type: none;
		font-size: 12px;
		position: fixed;
		left: 33%;
		line-height: 20px;
		
		a {
			padding: 20px;
			border-radius: 3px;
			margin-bottom: 2px;
		}
	}
	.study-notes {
		border: 1px solid darken($color-sec-two, 10%);
		padding: 20px;
		box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, .1);
		background-color: $color-sec-two;
		height: 100%;
		overflow: scroll;
	}
	.left-nav {
		height: 100%;
		width: 33%;
		padding: 0;
	}
	.task {
		position: fixed;
		left: 33%;
	}

	table {
		width: 100%;
	}
	tr, td {
		border-bottom: 1px solid #DDD;
		padding: 8px;
	}
}
.answer-box {
	background-color: lighten(desaturate($color-dark-green, 10%), 50%);
	padding: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
