body {
	/*background-image: none;*/
}
.modal-open {
	overflow: auto;
}
.modal .btn-primary {
	background-color: #6AC76A;
	border-color: #6AC76A;
}
.modal-header {
	cursor: move;
	position: absolute;
	width: 100%;
	height: 60px;
}
.modal-content {
	position: relative;
	height: 500px;
}
.modal-body {
	position: absolute;
	top: 60px;
	bottom: 75px;
	width: 100%;
	overflow-y: auto;
}
.modal-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 75px;
}
.modal {
	overflow: hidden;
}
.modal-dialog {
	margin-right: 0;
	margin-left: 0;
}
.badge.point-tracker {
	background-color: #04AFAF;
	margin: 3px;
	padding: 5px 7px 3px 7px;
	border-radius: 15px;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 10px;
}
@-webkit-keyframes bounce {
	0%   { top: 10px; animation-timing-function:ease-in;  }
	37%  { top: 4px; animation-timing-function:ease-out; }
	55%  { top: 10px; animation-timing-function:ease-in;  }
	73%  { top: 7px; animation-timing-function:ease-out; }
	82%  { top: 10px; animation-timing-function:ease-in;  }
	91%  { top: 8px; animation-timing-function:ease-out; }
	100% { top: 10px; animation-timing-function:ease-in; }
}
@keyframes bounce {
	0%   { top: 10px; animation-timing-function:ease-in;  }
	37%  { top: 4px; animation-timing-function:ease-out; }
	55%  { top: 10px; animation-timing-function:ease-in;  }
	73%  { top: 7px; animation-timing-function:ease-out; }
	82%  { top: 10px; animation-timing-function:ease-in;  }
	91%  { top: 8px; animation-timing-function:ease-out; }
	100% { top: 10px; animation-timing-function:ease-in; }
}
.bounce {
	position: absolute;
	-webkit-animation: bounce .7s;
	-moz-animation: bounce .7s;
	-o-animation: bounce .7s;
	animation: bounce .7s;
}
.sentence {
	display: inline-block;
}
.sentence span {
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	background-color: transparent;
	-webkit-transition: background-color 700ms ease-out;
	-moz-transition: background-color 700ms ease-out;
	-o-transition: background-color 700ms ease-out;
	-ms-transition: background-color 700ms ease-out;
	transition: background-color 700ms ease-out;
}
.sentence .selected {
	background-color: #0DAFAF;
	color: #FFF;
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	-ms-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}
	
.node circle {
	stroke: #49A556;
	stroke-width: 3px;
}
.node circle.right {
	/*fill: #94DA87 !important;*/
}
.node circle.wrong {
	/*fill: #D15241 !important;*/
}

.node circle.selected {
	stroke-width: 6px;
	cursor: pointer;
}

/* Hovering over an already selected node gives you option to unselect it */
.node circle:hover, .node circle.selected:hover {
	stroke: #49A556;
	stroke-width: 6px;
	cursor: pointer;
}

.node .root, .node .root:hover {
	stroke-width: 3px;
	fill: #666;
	stroke: #666;
}

.node text { 
	font-family: 'Cambria', 'Times New Romans';
	letter-spacing: 2px;
	font-size: 18px;
}
.node text.label {
	font-family: sans-serif;
	font-size: 12px !important;
	font-weight: 500;
	color: #666;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.panel-heading {
	position: relative;
}
.parse-tree .panel-body {
	padding: 0;
}
.tree-container {
	position: relative;
	max-height: 0;
	overflow: hidden;
	-moz-transition: max-height 1s ease;
	-webkit-transition: max-height 1s ease;
	-o-transition: max-height 1s ease;
	transition: max-height 1s ease;
}
.svg-container {
	width: 100%;
	overflow: scroll !important;
}
