body {
	background-image: none;
}
.modal-open {
	overflow: auto;
}
.modal .btn-primary {
	background-color: #6AC76A;
	border-color: #6AC76A;
}
.modal-header {
	cursor: move;
	position: absolute;
	width: 100%;
	height: 60px;
}
.modal-content {
	position: relative;
	height: 500px;
}
.modal-body {
	position: absolute;
	top: 60px;
	bottom: 75px;
	width: 100%;
	overflow-y: auto;
}
.modal-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 75px;
}
.modal {
	overflow: hidden;
}
.modal-dialog {
	margin-right: 0;
	margin-left: 0;
}
.sentence span {
	padding: 3px;
	margin: 2px;
	border-radius: 3px;
	background-color: transparent;
	-webkit-transition: background-color 700ms ease-out;
	-moz-transition: background-color 700ms ease-out;
	-o-transition: background-color 700ms ease-out;
	-ms-transition: background-color 700ms ease-out;
	transition: background-color 700ms ease-out;
}
.sentence .selected {
	background-color: #4E6087;
	color: #FFF;
	-webkit-transition: background-color 500ms ease-in;
	-moz-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	-ms-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
}
	
.node circle {
	fill: #FFF;
	stroke: #49A556;
	stroke-width: 3px;
}
.node circle.right {
	/*fill: #94DA87 !important;*/
}
.node circle.wrong {
	/*fill: #D15241 !important;*/
}

.node circle.selected {
	stroke-width: 6px;
	cursor: pointer;
}

/* Hovering over an already selected node gives you option to unselect it */
.node circle:hover, .node circle.selected:hover {
	stroke: #49A556;
	stroke-width: 6px;
	cursor: pointer;
}

.node .root, .node .root:hover {
	stroke-width: 3px;
	fill: #666;
	stroke: #666;
}

.node text { 
	font-family: 'Cambria', 'Times New Romans';
	letter-spacing: 2px;
	font-size: 18px;
}
.node text.label {
	font-family: sans-serif;
	font-size: 12px !important;
	font-weight: 500;
	color: #666;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.parse-tree .panel-body {
	padding: 0;
}
.tree-container {
	position: relative;
}
.svg-container {
	width: 100%;
	overflow: scroll !important;
	height: 700px;
}
