/* Color Scheme! */
$color-pri-one: #BE1E2D; 		// Bright red
$color-pri-two: #1FADAD; 		// Teal
$color-pri-two-darker: rgba(9, 61, 61, 0.3);
$color-pri-two-lighter: #56C7C7;

$color-pri-three: #523D5B;		// Purple

$color-sec-one: #931926;		// Deep red
$color-sec-two: #4E6087;		// Indigo
$color-sec-two-lighter: #62749C; 
$color-sec-three: #F05629;	 	// Orange
$color-sec-four: #F5BC78;		// Yellow

$text-light-color: #EEE;
$text-dark-color: #666;

/* Fonts! */
$font-family: 'Georgia';

/* Mix-ins */
// Background-color transition
@mixin transition($prop, $len, $style) {
	$trans: $prop $len $style;

	-webkix-transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	-ms-transition: $trans;
	transition: $trans;
}
@mixin gradient($top-color, $top-percent, $bottom-color, $bottom-percent) {
	background-image: linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -o-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -moz-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -webkit-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -ms-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop($top-percent / 100, $top-color),
		color-stop($bottom-percent / 100, $bottom-color)
	);
}

body {
	color: #666;
	font-family: 'Myriad Pro';
}
a {
	color: $color-pri-two;
}
p strong {
	margin-left: 2px;
	margin-right: 2px;
	letter-spacing: 0.05em;
	color: $color-sec-two;
}

/* Override Bootstrap Styles */
.container {
	max-width: none !important;
}


/* Header */
.banner {
	color: #EEE; 
	//@include gradient($color-pri-two, 0, lighten($color-pri-two, 5%), 100);
	background-color: $color-sec-two;
	position: relative;
	z-index: 1;

	#search-form {
		margin: 7px 0px;

		.form-group {
			margin-bottom: 7px;
		}
	}

	.user-data {
		a {
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			margin-left: 10px;
			color: #EEE;
			letter-spacing: 0.08em;
		}
	}
}
.navigation {
	text-align: center;

	a {
		display: inline-block;
		letter-spacing: 0.08em;
		padding: 20px 10px;
		cursor: pointer;
		text-decoration: none;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-sec-two, 5%);	
			@include transition(background-color, .2s, ease-in);
		}
		&.active {
			background-color: lighten($color-sec-two, 10%);	
			@include transition(background-color, .2s, ease-in);
		}

		strong {
			font-size: 18px;
			font-weight: normal;

			span {
				margin-right: 5px;
			}
		}
		small {
			display: block;
			font-size: 11px;
		}
		&.progress-book {
			color: $text-light-color;
		}
		&.progress-voc {
			color: $text-light-color;
		}
		&.progress-lessons {
			color: $text-light-color;
		}
	}

}

/* Visualization Styles */
.progress-therm {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid whitesmoke;
	margin-bottom: 20px;
	height: 20px;

	.sec {
		height: 16px;
		display: inline-block;
		margin-right: -4px;
		@include transition(background-color, 0.3s, cubic);

		&.morph {
			background-color: $color-sec-two;

			&:hover {
				background-color: lighten($color-sec-two, 5%);
				@include transition(background-color, 0.3s, cubic);
			}
		}
		&.syn {
			background-color: $color-pri-two;

			&:hover {
				background-color: lighten($color-pri-two, 5%);
				@include transition(background-color, 0.3s, cubic);
			}
		}
		&.voc {

			background-color: $color-sec-four;
			&:hover {
				background-color: lighten($color-sec-four, 5%);
				@include transition(background-color, 0.3s, cubic);
			}
		}
		&.rem {
			background-color: #EEE;

			&:hover {
				background-color: lighter(#FEFEFE, 5%);
			}
		}
		&:hover {
			@include transition(background-color, 0.3s, cubic);
			cursor: pointer;
		}
	}
}
.legend {
	.sec {
		height: 10px;
		width: 10px;
		display: inline-block;
		border: 1px solid whitesmoke;
		margin-right: 5px;
		margin-left: 10px;

		&.morph {
			background-color: $color-sec-two;
		}
		&.syn {
			background-color: $color-pri-two;
		}
		&.voc {
			background-color: $color-sec-four;
		}
	}
}

.main {
}

/* Lesson-related styles */
.feedback-container {
	padding: 20px;

	h2 {
		color: #333;
		font-size: 14px;
		letter-spacing: 0.1em;
	}
}
.lesson-progress {
	margin-bottom: 35px;

	.bar {
		$c: #DDD;

		display: inline-block;
		height: 15px;
		@include gradient(#FFF, 0, #EEE, 100);

		border: {
			top: 1px solid $c;
			bottom: 1px solid $c;
			left: 1px solid $c;
		}

		&:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child {
			border-right: 1px solid $c;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}

		&.complete {
			$b: $color-sec-two;

			box-shadow: 1px 1px 0px lighten($b, 20%) inset;
			@include gradient($b, 0, lighten($b, 10%), 100);
			border: 1px solid darken($b, 10%);

		}
	}
}
.module-container {
	background: rgba(255, 255, 255, 0.7);
	height: 100%;
	padding: 20px;
	text-align: center;
}
div.module {
	background-color: #C3E3E4;
}
.module {
	border-radius: 3px;
	color: #666;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 20px;

	text-decoration: none;
	width: 160px;
	height: 100px;
	vertical-align: top;
	position: relative;
	box-shadow:	0px 0px 4px 0px rgba(0, 0, 0, .1);

	&:hover {
		text-decoration: none;
	}	

	// Styles the practice lightning bolt
	.practice-module {
		float: right;
		margin-top: -18px;
		margin-right: -16px;
		margin-left: 5px;
		color: #F5BC78;
		background-color: #FFF;
		padding: 3px 3px 4px 3px;
		border-radius: 12px;
	}

	// Different types of modules
	&.nouns {
		background-color: #49A556;
	}
	&.basics {
		background-color: #A3D55F;
	}

	h3 {
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0.1em;
		color: #FFF;
		font-family: 'Helvetica';
		margin-left: 10px;
		margin-right: 10px;
	}

	div {
		position: absolute;
		bottom: 10px;
		text-align: center;
		width: 100%;
		margin-left: -20px;
		margin-right: -20px;
	}

	.circle {

		$circle-color: #FFF;

		display: inline-block;
		width: 13px;
		height: 13px;
		border: 2px solid $circle-color;
		border-radius: 10px;
		margin: 2px;

		&.complete {
			background-color: $circle-color;
		}
	}
}

.lesson-container {
	.lesson-header {
		h3 {
			display: inline-block;
			margin-top: 0;
		}
	}
}
.lesson-left-menu {
	padding-top: 20px;
}
.slide {

	padding: 20px;
	border-radius: 3px;
	min-height: 300px;

	ul {
		display: block;
		padding-left: 0;
		text-align: center;
		margin-bottom: 0;

		&.short-multi {


			li {
				list-style: none;
				display: inline-block;
				font-size: 16px;
				line-height: 36px;
				margin: 2px;
			}
			a {
				padding: 5px 20px;
				color: #666;
				text-decoration: none;
				border-radius: 3px;

			}
			&.options {
				a {
					$color: #EEE;

					border: 1px solid darken($color, 5%);
					@include transition(background-color, .2s, ease-out);
					@include gradient($color, 20, lighten($color, 7%), 100);

					&:hover {
						@include gradient($color-pri-two, 20, lighten($color-pri-two, 7%), 100);
						border-color: darken($color-pri-two, 5%);
						color: #FFF;
					}
				}
			}
			&.answers {
				a {
					$color: $color-pri-two;

					border: 1px solid darken($color, 5%);
					@include transition(background-color, .2s, ease-out);
					@include gradient($color, 20, lighten($color, 7%), 100);
					color: #FFF;

					&:hover {
						@include gradient($color-pri-one, 20, lighten($color-pri-one, 7%), 100);
						border-color: darken($color-pri-one, 5%);
					}
				}
			}
		}
		&.inline {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
		}
	}
}

.greek-text {
	font-family: 'Times New Romans';
	font-size: 1.3em;
	letter-spacing: 0.1em;
}

.work {
	width: 3000px;
	position: relative;

	div {
		display: inline-block;
		vertical-align: top;
		border: 2px solid #FFF;

		span {
			display: inline-block;
			width: 2px;
			height: 2px;
			background-color: #FFF;
		}

		/* Colors for types of knowledge of text */ 
		span.r {
			background-color: #BE1E2D;
		}
		span.g {
			background-color: #1FADAD;
		}
		span.b {
			background-color: #F5BC78;
		}
	}
}
