/* Color Scheme! */
$color-pri-one: #D15241; //#F44D61; //#BE1E2D; 		// Bright red
$color-pri-two: #1FADAD; 		// Teal
$color-pri-two-darker: rgba(9, 61, 61, 0.3);
$color-pri-two-lighter: #56C7C7;
$color-pri-three: #523D5B;		// Purple

$color-sec-one: #931926;		// Deep red
$color-sec-two: #4E6087;		// Indigo
$color-sec-two-lighter: #62749C; 
$color-sec-three: #F05629;	 	// Orange
$color-sec-four: #F4BC78;		// Yellow

$color-light-green: #A3D55F;
$color-dark-green: #49A556;

$text-light-color: #EEE;
$text-dark-color: #666;

/* Fonts! */
$font-family: 'Myriad Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/* Mix-ins */
// Background-color transition
@mixin transition($prop, $len, $style) {
	$trans: $prop $len $style;

	-webkit-transition: $trans;
	-moz-transition: $trans;
	-o-transition: $trans;
	-ms-transition: $trans;
	transition: $trans;
}
@mixin gradient($top-color, $top-percent, $bottom-color, $bottom-percent) {
	background-image: linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -o-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -moz-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -webkit-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);
	background-image: -ms-linear-gradient(bottom, $top-color $top-percent, $bottom-color $bottom-percent);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop($top-percent / 100, $top-color),
		color-stop($bottom-percent / 100, $bottom-color)
	);

	background-color: $top-color;
}
@mixin animate($name, $duration, $timing-function, $delay, $iteration-count) {
	-webkit-animation: $name $duration $timing-function $delay $iteration-count;
	-moz-animation: $name $duration $timing-function $delay $iteration-count;
	-o-animation: $name $duration $timing-function $delay $iteration-count;
	animation: $name $duration $timing-function $delay $iteration-count;
}
@mixin wiggle {
	@include animate(wiggle, .2s, ease, 0, 3);
}

// CSS3 Animations
@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: rotateZ(2deg);
	}
	50% {
		-webkit-transform: rotateZ(-2deg);
	}
	100% {
		-webkit-transform: rotateZ(2deg);
	}
}

@-moz-keyframes wiggle {
	0% {
		-moz-transform: rotateZ(2deg);
	}
	50% {
		-moz-transform: rotateZ(-2deg);
	}
	100% {
		-moz-transform: rotateZ(2deg);
	}
}
@-o-keyframes wiggle {
	0% {
		-o-transform: rotateZ(2deg);
	}
	50% {
		-o-transform: rotateZ(-2deg);
	}
	100% {
		-o-transform: rotateZ(2deg);
	}
}

@keyframes wiggle {
	0% {
		transform: rotateZ(2deg);
	}
	50% {
		transform: rotateZ(-2deg);
	}
	100% {
		transform: rotateZ(2deg);
	}
}

html, body {
	height: 100%;
}
body {
	color: #666;
	font-family: $font-family;
	background-image: url('/static/images/footer_graphic.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-attachment: fixed;
}
a {
	color: $color-pri-two;

	&:hover {
		color: darken($color-pri-two, 10%);
	}
}

/* Override Bootstrap Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Garamond';
}
label {
	font-weight: normal;
	font-size: 1.2em;

}
.container {
	max-width: none !important;
	width: 100%;
	padding: 0;
	height: 100%;
}
.row {
	margin: 0;
}
.alert {
	&.alert-success {
		strong {
			color: #19641A !important;
		}
	}
}
.progress-bar-morph {
	background-color: $color-sec-four; 
}
.progress-bar-syn {
	background-color: $color-pri-one; 
}
.progress-bar-voc {
	background-color: $color-pri-two; 
}

@mixin context-bg($color) {
	border: 2px $color solid;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 2em;

	background-color: lighten($color, 50%);

	.glyphicon {
		margin-right: 3px;
		color: lighten($color, 40%);
	}

	h1, h2, h3, h4, h5, h6 {
		background-color: $color;
		color: #FFF;
		margin: -10px -10px 10px;
		padding: 10px;
		letter-spacing: 0.1em;
	}
}

.bg-success {
	@include context-bg($color-dark-green);

	strong {
		color: darken($color-dark-green, 10%) !important;
	}
}
.bg-info {
	@include context-bg($color-sec-two);
}
.bg-primary {
	@include context-bg($color-pri-two);

	strong {
		color: darken($color-pri-two, 10%) !important;
	}
}

/* The speech bubble that Thuc uses to speak */
.speech {
	$color: lighten($color-sec-four, 15%);

	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	background-color: $color;
	border-radius: 3px;
	line-height: 2em;
	margin-bottom: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

	&:before {
		top: -20px;
		bottom: auto;
		left: auto;
		right: 40px;
		border-width: 0 20px 20px;
		content: "";
		position: absolute;
		border-style: solid;
		border-color: $color transparent;
		display: block;
		width: 0;
	}

	&:after {
		top: -13px;
		bottom: auto;
		left: auto;
		right: 47px;
		border-width: 0 13px 13px;
		content: "";
		position: absolute;
		border-style: solid;
		border-color: $color transparent;
		display: block;
		width: 0;
	}
}

/* Styles related to the intro page */
#splash {
	background-color: $color-pri-two;
	position: relative;
	min-height: 300px;
	padding: 20px;
	color: #EEE;

	.thuc {
		position: absolute; 
		left: 0; 
		bottom: 0;
	}

	form {
		width: 80%;
	}

	img {
		height: 300px;
	}

	h1 {
		display: inline-block;
		font-family: 'Garamond';
		font-size: 5em;
	}

	p {
		font-size: 1.3em;
		line-height: 1.7em;
	}
}
#login-link {
	position: absolute;
	right: 10px;
	top: 10px;
	border: 0;
	background-color: rgba(255, 255, 255, .4);
	z-index: 10;
	color: #FFF;
	padding: 10px 20px;
	@include transition(background-color, .2s, ease-out);

	&:hover {
		background-color: rgba(255, 255, 255, .6);
		@include transition(background-color, .2s, ease-in);
	}
}
.register-link {
	border: 0;
	border-radius: 3px;
	font-size: 24px;
	background-color: $color-pri-one;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	color: #FFF;
	@include transition(background-color, .2s, ease-out);

	&:hover {
		@include transition(background-color, .2s, ease-in);
		background-color: lighten($color-pri-one, 3%);
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
		top: -2px;
	}
}

/* Header */
.banner {
	color: #EEE; 
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);
	@include gradient($color-sec-two, 0, lighten($color-sec-two, 5%), 100);
	background-color: $color-sec-two;
	position: fixed;
	width: 100%;
	height: 64px;
	z-index: 1;

	#search-form {
		margin: 7px 0px;

		.form-group {
			margin-bottom: 7px;
		}
	}

	#logo-container {
		padding-top: 10px;	
		
		img {
			height: 40px;
		}
	}

	.user-data {
		a {
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			margin-left: 10px;
			color: #EEE;
			letter-spacing: 0.08em;
		}
	}
}
.navigation {
	text-align: center;

	a {
		display: inline-block;
		letter-spacing: 0.08em;
		padding: 11px 10px;
		cursor: pointer;
		text-decoration: none;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-sec-two, 5%);	
			@include transition(background-color, .2s, ease-in);
		}
		&.active {
			background-color: lighten($color-sec-two, 10%);	
			@include transition(background-color, .2s, ease-in);
		}

		strong {
			font-size: 18px;
			font-weight: normal;

			span {
				margin-right: 5px;
			}
		}
		small {
			display: block;
			font-size: 11px;
		}
		&.progress-book {
			color: $text-light-color;
		}
		&.progress-voc {
			color: $text-light-color;
		}
		&.progress-lessons {
			color: $text-light-color;
		}
	}

}

.user-info {
	img {
		margin-right: 10px;
	}
	a {
		color: #EEE;
	}
	a.username, a.log-in-link {
		border: 0;
		background-color: darken($color-sec-two, 10%);
		@include transition(background-color, .2s, ease-out);
		padding: 10px;
		text-decoration: none;
		border-radius: 3px;
		margin: 0px 20px 0px 5px;

		&:hover {
			background-color: lighten($color-sec-two, 10%);
			@include transition(background-color, .2s, ease-out);
			box-shadow: 2px 2px 3px darken($color-sec-two, 5%);
			color: #FFF;

			img {
				box-shadow: 2px 2px 3px darken($color-sec-two, 5%);
			}
		}
	}
}

.main {
	position: absolute;
	height: 100%;
	top: 0;
	padding-top: 64px;
	width: 100%;
	
	.lesson-right-menu {
		position: relative;
		height: 40%;

		a {
			color: $color-sec-two;
			position: absolute;
			font-size: 70px;
			top: 0;
			left: 0;
		}
	}

	strong {
		margin-left: 2px;
		margin-right: 2px;
		letter-spacing: 0.05em;
		color: $color-sec-two;
	}
}

@media (max-width: 768px) {
	.hidden-inline-sm {
		display: none !important;	
	}
	#logo-container {
		display: none !important;
	}
}

/* Styling buttons that are calls to action */
.calls-to-action {
	button, a {
		border: 0;
		background-color: darken($color-sec-two, 10%);
		color: #EEE;
		@include transition(background-color, .2s, ease-out);
		margin-top: 3px;

		&:hover {
			background-color: lighten($color-sec-two, 5%);
			@include transition(background-color, .2s, ease-out);
			box-shadow: 2px 2px 3px #CCC;
			color: #FFF;

			.glyphicon {
				@include wiggle;
			}
		}
	}
	.glyphicon {
		margin-right: 5px;
	}
	.glyphicon-flash {
		color: $color-sec-four;	
	}
	.glyphicon-list-alt {
		color: $color-pri-one;
	}
	.glyphicon-inbox {
		color: $color-pri-two;
	}
}

/* Lesson-related styles */
.feedback-container {
	padding: 20px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;

	h3 {
		color: lighten($color-pri-three, 10%);
		letter-spacing: 0.1em;
	}
	h4 {
		color: $color-pri-three;
		letter-spacing: 0.1em;
		font-weight: normal;
	}
	.badge {
		margin-right: 5px;

		&.vocab {
			background-color: $color-pri-two;
		}
		&.lesson {
			background-color: $color-pri-one;
		}
		&.treebank {
			background-color: $color-dark-green;
		}
	}

	#pies {
		text-align: center;
	}
	#vocab-pie {
		& + h4 {
			color: $color-pri-two;
			margin-bottom: 0px;
		}
	}
	#morph-pie + h4 {
		color: $color-sec-four;
		margin-bottom: 0px;
	}
	#syn-pie + h4 {
		color: $color-pri-one;		
		margin-bottom: 0px;
	}

	#records {
		.sparkline {
			display: inline-block;

			path {
				stroke: #888;
				stroke-width: 2px;
				fill: none;
			}
		}
	}
}
.lesson-progress {
	margin-bottom: 35px;

	.bar {
		$c: #DDD;

		display: inline-block;
		height: 15px;
		background: linear-gradient(to left, #FFF 50%, $color-sec-two 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: all 1s ease-out;

		border: {
			top: 1px solid $c;
			bottom: 1px solid $c;
			left: 1px solid $c;
		}

		&:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child {
			border-right: 1px solid $c;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}

		&.complete {
			$b: $color-pri-two;
			background-position: left bottom;
		}
	}
}
.module-container {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	padding: 20px;
	text-align: center;

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
}
div.module {
	background-color: #DDD;
}
.module {
	border-radius: 3px;
	color: #666;
	text-align: center;
	display: inline-block;
	padding: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	width: 100%;
	min-height: 150px;
	vertical-align: top;
	position: relative;
	box-shadow:	0px 0px 4px 0px rgba(0, 0, 0, .1);
	color: #BBB !important;

	img {
		height: 65px;
	}

	&:hover {
		text-decoration: none;
	}	

	// Styles the practice lightning bolt
	.practice-module {
		float: right;
		margin-top: -18px;
		margin-right: -16px;
		margin-left: 5px;
		color: #F5BC78;
		background-color: #FFF;
		padding: 3px 3px 4px 3px;
		border-radius: 12px;
	}

	// Different types of modules
	&.keep-learning {
		background-color: $color-pri-two;
		@include transition(background-color, .2s, ease-out);
		margin-bottom: 20px;
		
		&:hover {
			background-color: lighten($color-pri-two, 5%);
			@include transition(background-color, .2s, ease-in);
			box-shadow: 2px 2px 3px #CCC;
		}

		h3 {
			color: #FFF;
		}
	}
	&.nouns {
		background-color: $color-pri-two;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-pri-two, 5%);
			@include transition(background-color, .2s, ease-in);

			box-shadow: 2px 2px 3px #CCC;
			position: relative;
			top: -3px;
		}

		h3 {
			color: #FFF;
		}
	}
	&.morph {
		background-color: $color-sec-two;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-sec-two, 5%);
			@include transition(background-color, .2s, ease-in);

			box-shadow: 2px 2px 3px #CCC;
			position: relative;
			top: -3px;
		}

		h3 {
			color: #FFF;
		}
	}
	&.verbs {
		background-color: $color-sec-two;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-sec-two, 5%);
			@include transition(background-color, .2s, ease-in);

			box-shadow: 2px 2px 3px #CCC;
			position: relative;
			top: -3px;
		}

		h3 {
			color: #FFF;
		}
	}
	&.basics {
		background-color: $color-pri-one;
		@include transition(background-color, .2s, ease-out);

		&:hover {
			background-color: lighten($color-pri-one, 5%);
			@include transition(background-color, .2s, ease-in);
			box-shadow: 2px 2px 3px #CCC;
			position: relative;
			top: -3px;
		}

		h3 {
			color: #FFF;
		}
	}

	h3 {
		font-size: 12px;
		font-weight: normal;
		letter-spacing: 0.1em;
		color: #999;
		font-family: 'Helvetica';
		margin-left: 10px;
		margin-right: 10px;
	}

	div {
		position: absolute;
		bottom: 10px;
		text-align: center;
		width: 100%;
		margin-left: -20px;
		margin-right: -20px;
	}

	.circle {

		$circle-color: #FFF;

		display: inline-block;
		width: 13px;
		height: 13px;
		border: 2px solid $circle-color;
		border-radius: 10px;
		margin: 2px;

		&.complete {
			background-color: $circle-color;
		}
	}
}

.lesson-container {
	.lesson-header {

		h3 {
			display: inline-block;
			margin-top: 0;
		}
	}
}
.lesson-left-menu {
	padding-top: 20px;
}
.slide {

	padding: 20px;
	border-radius: 3px;
	min-height: 300px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;

	.slide-unit {
		display: none;
	}

	.exercise {
		.badge {
			background-color: #BBB;
			border-radius: 3px;
			margin-right: 10px;
		}
	}
	.direct-select {
		text-align: center;
		font-size: 2em;
		margin-bottom: 20px;

		&.vertical {
			a {
				margin-right: auto;
				margin-left: auto;
				text-align: left;
				display: block;
				max-width: 300px;
			}
			.badge {
				border: 1px solid #FFF;
				vertical-align: middle;
			}
			small {
				margin-left: 35px;
			}
		}

		&.horizontal {
			a {
				position: relative;
				margin-bottom: 25px;
				white-space: nowrap;
				display: inline-block;
			}
			.badge {
				position: absolute;
				top: 20px;
				margin-right: 0;
				left: 40%;
				top: 110%;
				border: 1px solid #FFF;
				@include transition(background-color, 0.2s, ease-in);
			}
		}

		a small {
			font-size: .5em;
			font-family: $font-family;
			letter-spacing: normal;
		}

		a.selected, a.selected:hover {
			background-color: $color-sec-two;
			color: #FFF;
			border: 1px solid transparent;
			box-shadow: 2px 2px 3px #CCC;

			.badge {
				background-color: $color-pri-two;
			}
		}

		a.success, a.success:hover {
			background-color: $color-dark-green;
			color: #FFF;
			border: 1px solid transparent;
			box-shadow: 2px 2px 3px #CCC;

			@include wiggle;

			.badge {
				background-color: $color-pri-two;
			}
		}

		a.failure, a.failure:hover {
			background-color: $color-pri-one;
			color: #FFF;
			border: 1px solid transparent;
			box-shadow: 2px 2px 3px #CCC;

			.badge {
				background-color: $color-sec-four;
			}
		}

		a {
			text-decoration: none;
			border: 1px solid #DDD;
			border-radius: 3px;
			padding: 10px;
			margin: 5px;
			@include transition(background-color, 0.2s, ease-in);

			&:hover {
				background-color: $color-pri-two;
				border: 1px solid transparent;
				color: #FFF;
				@include transition(background-color, 0.2s, ease-out);
				box-shadow: 2px 2px 3px #CCC;

				.badge {
					background-color: $color-pri-one;
					color: #FFF;
					@include transition(background-color, 0.2s, ease-out);
				}
			}
		}

	}

	ul {
		display: block;
		margin-bottom: 0;

		/* Corresponds to Multi Composition Slide options */
		&.short-multi {
			li {
				list-style: none;
				display: inline-block;
				font-size: 16px;
				line-height: 36px;
				margin: 2px;
			}
			a {
				padding: 5px 20px;
				color: #666;
				text-decoration: none;
				border-radius: 3px;

			}
			&.options {
				a {
					$color: #EEE;

					border: 1px solid darken($color, 5%);
					@include transition(background-color, .2s, ease-out);
					@include gradient($color, 20, lighten($color, 7%), 100);

					&:hover {
						@include gradient($color-pri-two, 20, lighten($color-pri-two, 7%), 100);
						border-color: darken($color-pri-two, 5%);
						color: #FFF;
					}
				}
			}
			&.answers {
				a {
					$color: $color-pri-two;

					border: 1px solid darken($color, 5%);
					@include transition(background-color, .2s, ease-out);
					@include gradient($color, 20, lighten($color, 7%), 100);
					color: #FFF;

					&:hover {
						@include gradient($color-pri-one, 20, lighten($color-pri-one, 7%), 100);
						border-color: darken($color-pri-one, 5%);
					}
				}
			}
		}
		&.inline {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
		}
	}
}

.word-breakdown {
	text-align: center;

	table {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		padding: 10px;
	}

	td.part {
		
		span[lang="grc"] {
			font-size: 3em;
		}
		hr {
			margin-bottom: 0;
			border-top: 1px solid #888;
		}
		.caret {
			color: #AAA;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

	}
}

table.inflection-table {
	font-size: 0.9em;

	span[lang="grc"] strong {
		color: $color-pri-two;
		background-color: #f5f5f5;
		padding: 3px;
	}

	tr.current {
		background-color: $color-pri-one;
		color: #FFF;

		span[lang="grc"] {
			color: #FFF;

			em {
				color: $color-pri-two;
				background-color: #FFF;
			}
		}
	}
	tr.future {
		span[lang="grc"] {
			color: #CCC;
		}
	}
	tr.past {
		color: #333;
		span[lang="grc"] {
			color: #333;
		}
	}
}

.label {
	padding: 0.4em 0.6em 0.3em;
	margin: 0px 3px;
	
	&.label-default {
		background-color: #BBB;
	}
	&.label-primary {
		background-color: $color-pri-two;
	}
	&.label-danger {
		background-color: $color-pri-one;
	}
	&.label-success {
		background-color: $color-light-green;
	}
	&.label-info {
		background-color: $color-sec-two;
	}
}

span[lang="grc"], div[lang="grc"] {
	font-family: 'Cambria', 'Times New Romans';
	font-size: 1.3em;
	letter-spacing: 0.1em;

	em {
		background-color: #FFF0A3;
		border-radius: 3px;
		padding: 3px;
		font-style: normal;
	}
	em[data-toggle="tooltip"] {
		cursor: pointer;
	}
}
.masc {
	color: $color-pri-two; // #3882C5;
}
.fem {
	color: $color-pri-one; //#E04A62;
}
.neut {
	color: $color-dark-green; //#3C8818;
}

p {
	line-height: 3em;
}

p span[lang="grc"] {
	border: 1px solid #EEE;
	padding: 2px;
	border-radius: 3px;
	background-color: #F6F6F6;
	margin-left: 3px;
	margin-right: 3px;
}

#reader {
	background-color: rgba(255, 255, 255, .8);
	min-height: 100%;

	.col-md-6, .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	.page {
		padding: 10px 80px;
		position: relative;
		margin-top: 0;

		h1 {
			text-align: center;
		}
	}

	.page-content {
		line-height: 2em; 

		span[lang="grc"] {
			cursor: pointer;
			padding: 5px;

			&:hover {
				background-color: lighten($color-sec-four, 20%);
			}
		}
		.selected, .selected:hover {
			background-color: lighten($color-sec-four, 10%) !important;
		}
	}

	.corner {
		content: "";
		position: absolute;
		border-style: solid;
		box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .3);

		&.left {
			top: 0;
			left: 0;
			border-color: #EEE #FFF;
			border-width: 60px 60px 0 0;

			a {
				top: -60px;
				border-width: 0 0 60px 60px;
				border-color: #FFF $color-pri-one;

				&::after {
					left: -55px;
					top: 1px;
					content: "\e091";
				}
				&:hover {
					border-color: #FFF lighten($color-pri-one, 5%);
				}
			}
		}
		&.right {
			top: 0;
			right: 0;
			border-color: #EEE #FFF;
			border-width: 0 60px 60px 0;

			a {
				right: -60px;
				border-width: 60px 0 0 60px;
				border-color: $color-pri-one #FFF;

				&::after {
					right: 5px;
					top: -57px;
					content: "\e092";
				}
				&:hover {
					border-color: lighten($color-pri-one, 5%) #FFF;
				}
			}
		}

		a {
			top: 0;
			position: absolute;
			border-style: solid;
			color: #FFF;

			&::after {
				font-family: 'Glyphicons Halflings';
				font-size: 24px;
				position: absolute;
			}

		}
	}

	.notes-container {
		position: fixed;
		width: 100%;
		bottom: 0;

		.notes {
			background-color: #F7F7F7;
			border-top: 1px solid #AAA;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
			padding: 10px;
			height: 75px;
		}
		.note-nav {
			float: right;
			font-size: 24px;

			span {
				padding: 5px;
			}
		}
	}

	.knowledge-container {
		position: fixed;
		bottom: 0;
		z-index: 10;
		width: 100%;

		.progress {
			margin: 0;
			height: 13px;
			border-radius: 0;
			cursor: pointer;
		}
	}
}
