@import "_global";

.pie-container {
	text-align: center;
	float: $right;

	#vocab, #morph, #syn {
		margin: 10px;
		max-width: 200px;
		vertical-align: text-top;
	}

	p {
		font-size: 0.9em;
		line-height: 2em;
	}

	#vocab h3 {
		color: $color-pri-one;
	}
	#morph h3 {
		color: $color-pri-two;
	}
	#syn h3 {
		color: $color-pri-three;
	}
}

.user-profile {
	padding-top: 20px;

	img {
		float: $left;
		margin-#{$right}: 20px;
	}
}
