@import "global";

/**
 * Used to style the reading environment.
 */

.progress-bar-morph {
	background-color: $color-sec-four; 
}
.progress-bar-syn {
	background-color: $color-pri-one; 
}
.progress-bar-voc {
	background-color: $color-pri-two; 
}

#reader {
	background-color: rgba(255, 255, 255, .8);
	min-height: 100%;

	.col-md-6, .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	#parse-vals a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	.well {
		margin-#{$right}: 15px;
		background-color: #FFF;
		direction: $dir;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.page {
		padding: 10px 80px 80px 80px;
		position: relative;
		margin-top: 0;

		// TODO: Change this to reflect the language of the text being read.
		direction: ltr;

		h1 {
			direction: $dir;
			text-align: center;
			font-size: 24px;

			small {
				font-size: inherit;
			}
		}
	}

	.page-content {
		line-height: 3em; 

		span[lang="grc"] {
			cursor: pointer;
			padding: 5px;

			&.punct {
				padding: 1px !important;
				margin-left: -8px;
			}
			&:hover {
				background-color: lighten($color-sec-four, 20%);
			}
		}
		.selected, .selected:hover {
			background-color: lighten($color-sec-four, 10%) !important;
		}
	}


	.notes-container {
		position: fixed;
		width: 100%;
		bottom: 0;
		direction: $dir;

		.notes {
			background-color: #F7F7F7;
			border-top: 1px solid #AAA;
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
			height: 75px;
			max-height: 75px;
			padding: 5px 10px 30px 10px;
			@include animate(all, .5s, linear, 0, 1);

			.resources-header {
				.selected {
					background-color: lighten($color-sec-four, 10%) !important;
					border: 0;
					border-raidus: 0px !important;
					padding: 6px;
				}
			}

			&.expanded {
				height: auto;
				min-height: 260px;
				max-height: 300px;
				overflow: auto;
				@include animate(all, .5s, linear, 0, 1);

				.glyphicon-chevron-up {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					transform: rotate(180deg);
				}

				.resources {
					display: block;
				}
				.intro {
					display: none;
				}
			}

			.label {
				padding: 5px 6px 2px 5px;
				position: relative;
				top: -1px;
				margin: 0 0 0 3px;
			}

			.resources {
				display: none;
			}
			.intro {
				display: block;
			}
		}

		span[lang="grc"], *[lang="grc"], a[lang="grc"] {
			margin-left: 3px;
			margin-right: 3px;
		}

		.notes-nav {
			position: absolute;
			#{if-ltr('right', 'left')}: 5px;
			z-index: 1;

			span.glyphicon {
				padding: 10px;
			}
		}
	}

	.knowledge-container {
		position: fixed;
		bottom: 0;
		z-index: 10;
		width: 100%;

		.progress {
			margin: 0;
			height: 13px;
			border-radius: 0;
			cursor: pointer;
		}
	}

	.comment {
		position: absolute;
		left: 30px;
		line-height: 5px;
		padding: 10px;
		border: 2px solid #DDD;
		border-radius: 3px;
		text-decoration: none;

		&:hover {
			text-decoration: none;

			& ~ span {
				background-color: #FCEBD6;
			}
		}

		$border: 7px;

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-top: $border solid transparent;
			border-bottom: $border solid transparent;
			border-left: $border solid #DDD;
			position: absolute;
			right: -8px;
			top: 5px;
		}
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-top: $border solid transparent;
			border-bottom: $border solid transparent;
			border-left: $border solid #FFF;
			position: absolute;
			right: -5px;
			top: 5px;
			z-index: 1;
		}
	}
}
.report {
	display: none !important;
}
#reader-menu {
	padding-bottom: 10px;
	border-bottom: 1px dotted #DDD;
	margin-bottom: 15px;
	font-size: 12px;

	.glyphicon {
		margin-right: 5px;
	}
}
.sentence-resources {
	text-align: center;

	.glyphicon {
		display: block;
		margin: 5px;
		font-size: 24px;
		color: darken($color-pri-two, 8%);
	}

	a:hover, a:hover span {
		color: darken($color-pri-two, 12%);
	}
}
.author {
	display: inline-block;
	background-color: $color-pri-two;
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;

	img {
		height: 200px;
		position: absolute;
		bottom: 0;
		@include transition(height, .1s, linear);
	}
	h3 {
		margin: 10px;
		color: #FFF;

		small {
			display: block;
			color: #EEE;
		}
	}

	&:after {
		@include transition(all, .1s, linear);
		background-image: url(/static/images/glasses.svg);
		background-size: 70px;
		content: '';
		position: absolute;
		width: 70px;
		height: 23px;
		top: 172px;
		left: 61px;
	}

}
.edition {
	padding: 10px;
	border: 1px solid #EEE;
	margin-bottom: 10px;
	text-decoration: none;
	display: block;
	color: inherit;
	position: relative;

	&:hover {
		text-decoration: none;
		color: inherit;

		& .author {
			background-color: lighten($color-pri-two, 5%);	
			@include transition(background-color, .1s, linear);

			img {
				height: 220px;
				@include transition(height, .1s, linear);
			}
			&:after {
				@include transition(all, .1s, linear);
				background-size: 79px;
				width: 79px;
				height: 26px;
				top: 172px;
				left: 66px;
			}
		}

		&:before {
			position: absolute;
			right: 20px;
			top: 20px;
			content: 'Greek out!';
			border-radius: 2px;
			padding: 2px 15px;
			display: block;
			background-color: rgba(0, 0, 0, 0.5);
			color: #FFF;
			z-index: 1;
			@include transition(background-color, .1s, cubic);
		}
	}

	&:before {
		position: absolute;
		display: none;
		right: 20px;
		top: 0;
		content: '';
		z-index: 1;
		background-color: rgba(0, 0, 0, 0);
		@include transition(background-color, .1s, cubic);
	}

	.progress {
		height: 10px;
		border-radius: 0;
		margin-bottom: 0;
	}
	.progress-bar {
		background-color: $color-pri-one;
	}
}
