/*
*	Global CSS
*/
/** RTL Support!!!! **/
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    direction: ltr; } }
.progress-bar {
  float: left; }

blockquote {
  border-left: 5px solid;
  border-right: 0; }

/* Color Scheme! */
/* Fonts! */
/* Mix-ins */
@-webkit-keyframes bounce {
  0% {
    top: 92px;
    animation-timing-function: ease-in; }

  37% {
    top: 62px;
    animation-timing-function: ease-out; }

  55% {
    top: 92px;
    animation-timing-function: ease-in; }

  73% {
    top: 78px;
    animation-timing-function: ease-out; }

  82% {
    top: 92px;
    animation-timing-function: ease-in; }

  91% {
    top: 88px;
    animation-timing-function: ease-out; }

  100% {
    top: 92px;
    animation-timing-function: ease-in; } }

@keyframes bounce {
  0% {
    top: 92px;
    animation-timing-function: ease-in; }

  37% {
    top: 62px;
    animation-timing-function: ease-out; }

  55% {
    top: 92px;
    animation-timing-function: ease-in; }

  73% {
    top: 78px;
    animation-timing-function: ease-out; }

  82% {
    top: 92px;
    animation-timing-function: ease-in; }

  91% {
    top: 88px;
    animation-timing-function: ease-out; }

  100% {
    top: 92px;
    animation-timing-function: ease-in; } }

.bounce {
  -webkit-animation: bounce 1s ease 0.5s 1;
  -moz-animation: bounce 1s ease 0.5s 1;
  -o-animation: bounce 1s ease 0.5s 1;
  animation: bounce 1s ease 0.5s 1; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(2deg); }

  50% {
    -webkit-transform: rotateZ(-2deg); }

  100% {
    -webkit-transform: rotateZ(2deg); } }

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotateZ(2deg); }

  50% {
    -moz-transform: rotateZ(-2deg); }

  100% {
    -moz-transform: rotateZ(2deg); } }

@-o-keyframes wiggle {
  0% {
    -o-transform: rotateZ(2deg); }

  50% {
    -o-transform: rotateZ(-2deg); }

  100% {
    -o-transform: rotateZ(2deg); } }

@keyframes wiggle {
  0% {
    transform: rotateZ(2deg); }

  50% {
    transform: rotateZ(-2deg); }

  100% {
    transform: rotateZ(2deg); } }

/* Header */
.banner {
  color: #EEE;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -o-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -moz-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -webkit-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -ms-linear-gradient(bottom, #4e6087 0, #576b97 100);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4e6087), color-stop(1, #576b97));
  background-color: #4e6087;
  background-color: #4e6087;
  position: fixed;
  width: 100%;
  height: 43px;
  z-index: 1; }
  .banner #search-form {
    margin: 7px 0px; }
    .banner #search-form .form-group {
      margin-bottom: 7px; }
  .banner #logo-container {
    padding-top: 4px; }
    .banner #logo-container img {
      height: 35px;
      margin-right: 4px; }
  .banner .user-data a {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-left: 10px;
    color: #EEE;
    letter-spacing: 0.08em; }

.navigation {
  text-align: center; }
  .navigation span {
    text-shadow: 1px 1px 2px rgba(30, 9, 82, 0.22);
    font-size: 12px; }
  .navigation span + span {
    margin-left: 5px;
    font-size: 14px; }
  .navigation .glyphicon-flash {
    color: #f4bc78; }
  .navigation .glyphicon-bookmark {
    color: #d66556; }
  .navigation .glyphicon-comment {
    color: #1fadad; }
  .navigation a {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.1em;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out; }
    .navigation a:hover {
      background-color: #576b97;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
    .navigation a.active {
      background-color: #6378a5;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
    .navigation a strong {
      font-size: 18px;
      font-weight: normal; }
      .navigation a strong span {
        margin-right: 5px; }
    .navigation a small {
      display: block;
      font-size: 11px; }
    .navigation a.progress-book {
      color: #eeeeee; }
    .navigation a.progress-voc {
      color: #eeeeee; }
    .navigation a.progress-lessons {
      color: #eeeeee; }

.user-info {
  margin: 4px; }
  .user-info img {
    margin-right: 10px; }
  .user-info a {
    color: #EEE; }
  .user-info a.username, .user-info a.log-in-link {
    border: 0;
    background-color: #3b4967;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block; }
    .user-info a.username:hover, .user-info a.log-in-link:hover {
      background-color: #6378a5;
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      -o-transition: background-color 0.2s ease-out;
      -ms-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      box-shadow: 2px 2px 3px #455577;
      color: #FFF; }
      .user-info a.username:hover img, .user-info a.log-in-link:hover img {
        box-shadow: 2px 2px 3px #455577; }

html, body {
  height: 100%; }

body {
  color: #333;
  font-family: "Myriad Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-attachment: fixed; }

a {
  color: #1fadad; }
  a:hover {
    color: #178282; }

blockquote {
  line-height: 40px; }

[lang="grc"], div[lang="grc"] {
  font-family: 'Cambria', 'Times New Romans' !important;
  font-size: 1.3em;
  letter-spacing: 0.1em; }
  [lang="grc"] em, div[lang="grc"] em {
    background-color: #FFF0A3;
    border-radius: 3px;
    padding: 3px;
    font-style: normal; }
  [lang="grc"] em[data-toggle="tooltip"], div[lang="grc"] em[data-toggle="tooltip"] {
    cursor: pointer; }

.masc {
  color: #1fadad; }

.fem {
  color: #d15241; }

.neut {
  color: #49a556; }

p {
  line-height: 3em; }

p span[lang="grc"] {
  border: 1px solid #EEE;
  padding: 2px;
  border-radius: 3px;
  background-color: #F6F6F6;
  margin-left: 3px;
  margin-right: 3px; }

/* Override Bootstrap Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Garamond'; }

.btn {
  border: 1px solid #EEE;
  text-decoration: none;
  border-radius: 2px; }
  .btn.btn-link {
    border: 0;
    color: #1fadad;
    text-decoration: none; }

label {
  font-weight: normal;
  font-size: 1.2em; }

.label {
  padding: 0.4em 0.6em 0.3em;
  margin: 0px 3px; }
  .label.label-default {
    background-color: #BBB; }
  .label.label-primary {
    background-color: #1fadad; }
  .label.label-danger {
    background-color: #d15241; }
  .label.label-success {
    background-color: #a3d55f; }
  .label.label-info {
    background-color: #4e6087; }

.container {
  max-width: none !important;
  width: 100%;
  padding: 0;
  height: 100%; }

.row {
  margin: 0; }

.alert.alert-success strong {
  color: #19641A !important; }

/*
*	Style for main viewport
*/
#main {
  position: absolute;
  height: 100%;
  top: 0;
  padding-top: 43px;
  width: 100%; }
  #main .lesson-right-menu {
    position: relative;
    height: 40%; }
    #main .lesson-right-menu a {
      color: #4e6087;
      position: absolute;
      font-size: 70px;
      top: 0;
      left: 0; }
  #main strong {
    margin-left: 2px;
    margin-right: 2px;
    letter-spacing: 0.05em;
    color: #4e6087; }

/* Styles related to the intro page */
.thuc {
  display: inline-block; }
  .thuc .wiggle {
    -webkit-animation: wiggle 0.2s ease 2s 3;
    -moz-animation: wiggle 0.2s ease 2s 3;
    -o-animation: wiggle 0.2s ease 2s 3;
    animation: wiggle 0.2s ease 2s 3;
    display: inline-block; }

.wiggle {
  -webkit-animation: wiggle 0.5s ease 0 3;
  -moz-animation: wiggle 0.5s ease 0 3;
  -o-animation: wiggle 0.5s ease 0 3;
  animation: wiggle 0.5s ease 0 3; }

.corner {
  content: "";
  position: fixed;
  border-style: solid;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3); }
  .corner.left {
    top: 43px;
    left: 0;
    border-color: #EEE #FFF;
    border-width: 60px 60px 0 0; }
    .corner.left a {
      top: -60px;
      border-width: 0 0 60px 60px;
      border-color: white #d15241; }
      .corner.left a::after {
        left: -55px;
        top: 1px;
        content: "\e091"; }
      .corner.left a:hover {
        border-color: white #d66556; }
  .corner.right {
    top: 43px;
    right: 0;
    border-color: #EEE #FFF;
    border-width: 0 60px 60px 0; }
    .corner.right a {
      right: -60px;
      border-width: 60px 0 0 60px;
      border-color: #d15241 white; }
      .corner.right a::after {
        right: 5px;
        top: -57px;
        content: "\e092"; }
      .corner.right a:hover {
        border-color: #d66556 white; }
  .corner a {
    top: 0;
    position: absolute;
    border-style: solid;
    color: #FFF; }
    .corner a::after {
      font-family: 'Glyphicons Halflings';
      font-size: 24px;
      position: absolute; }

.loading:before {
  content: url(/static/images/tree-loader.gif);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  text-align: center;
  padding: 20px; }

/**
 * Used to style the reading environment.
 */
.progress-bar-morph {
  background-color: #f4bc78; }

.progress-bar-syn {
  background-color: #d15241; }

.progress-bar-voc {
  background-color: #1fadad; }

#reader {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100%; }
  #reader .col-md-6, #reader .col-md-12 {
    padding-left: 0;
    padding-right: 0; }
  #reader .well {
    margin-right: 15px;
    background-color: #FFF;
    direction: ltr; }
  #reader .page {
    padding: 10px 80px 80px 80px;
    position: relative;
    margin-top: 0;
    direction: ltr; }
    #reader .page h1 {
      direction: ltr;
      text-align: center; }
  #reader .page-content {
    line-height: 3em; }
    #reader .page-content span[lang="grc"] {
      cursor: pointer;
      padding: 5px; }
      #reader .page-content span[lang="grc"].punct {
        padding: 1px !important;
        margin-left: -8px; }
      #reader .page-content span[lang="grc"]:hover {
        background-color: #fcebd6; }
    #reader .page-content .selected, #reader .page-content .selected:hover {
      background-color: #f8d3a7 !important; }
  #reader .notes-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    direction: ltr; }
    #reader .notes-container .notes {
      background-color: #F7F7F7;
      border-top: 1px solid #AAA;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      height: 75px;
      max-height: 75px;
      padding: 5px 10px 30px 10px;
      -webkit-animation: all 0.5s linear 0 1;
      -moz-animation: all 0.5s linear 0 1;
      -o-animation: all 0.5s linear 0 1;
      animation: all 0.5s linear 0 1; }
      #reader .notes-container .notes .resources-header span {
        margin-left: 20px; }
        #reader .notes-container .notes .resources-header span[lang="grc"] {
          margin-left: 0px !important;
          margin-right: 0px !important; }
      #reader .notes-container .notes .resources-header .selected {
        background-color: #f8d3a7 !important;
        border: 0;
        border-raidus: 0px !important;
        padding: 6px; }
      #reader .notes-container .notes.expanded {
        height: auto;
        min-height: 75px;
        max-height: 300px;
        overflow: auto;
        -webkit-animation: all 0.5s linear 0 1;
        -moz-animation: all 0.5s linear 0 1;
        -o-animation: all 0.5s linear 0 1;
        animation: all 0.5s linear 0 1; }
        #reader .notes-container .notes.expanded .glyphicon-chevron-up {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg); }
        #reader .notes-container .notes.expanded .resources {
          display: block; }
        #reader .notes-container .notes.expanded .intro {
          display: none; }
      #reader .notes-container .notes .label {
        padding: 5px 6px 2px 5px;
        position: relative;
        top: -1px;
        margin: 0 0 0 3px; }
      #reader .notes-container .notes .resources {
        display: none; }
      #reader .notes-container .notes .intro {
        display: block; }
    #reader .notes-container span[lang="grc"], #reader .notes-container *[lang="grc"], #reader .notes-container a[lang="grc"] {
      border: 1px solid #EEE;
      padding: 2px;
      border-radius: 3px;
      background-color: #FFF;
      margin-left: 3px;
      margin-right: 3px;
      font-family: 'Cambria', 'Times New Romans' !important; }
    #reader .notes-container .notes-nav {
      position: absolute;
      right: 5px;
      z-index: 1; }
      #reader .notes-container .notes-nav span.glyphicon {
        padding: 10px; }
  #reader .knowledge-container {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%; }
    #reader .knowledge-container .progress {
      margin: 0;
      height: 13px;
      border-radius: 0;
      cursor: pointer; }
