{% load i18n %}

<h1><%= definition %></h1>

<h2><small>{% trans "What is the" context 'Task question: "What is the [morph] of [word]?"' %} <%= model.getHumanReadableMorph() %> {% trans "of" %} <strong><%= model.get('lemma') %></strong>{% trans "?" %}</small></h2>
<hr>

<div class="answer-box" dir="ltr">
	<form>
		<div class="input-group">
			<input lang="grc" class="form-control input-lg" class="answer-input" title="<%= model.getHumanReadableMorph() %>" placeholder='<%= model.getHumanReadableMorph() %>'>
			<span class="input-group-btn">
				<button type="submit" style="height: 46px" class="btn btn-success">{% trans "Answer!" %}</button>
			</span>
		</div>
	</form>
	<hr>
	<span lang="grc" class="sentence" data-toggle="tooltip" title="<%= translated_sentence %>"><%= sentence %>.</span>

</div>

<hr>

<div style="text-align: center">
	<a href="#">{% trans "More definitions for" %} <span lang="grc"><%= model.get('lemma') %></span></a>
	<p class="alt-definitions">
		
	</p>
</div>
