<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Historical Languages eLearning - by Open Philology Project
	</title>

	<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/phaidra.css" rel="stylesheet">
	<link href="/static/css/parse-tree.css" rel="stylesheet">

	<!-- JS -->
	<script data-main="/static/js/main" src="/static/js/lib/require.js"></script>

</head>
<body>

<div class="container">
	<header class="row banner">
		<div class="col-md-9">
			{% block nav %}
				<nav class="row navigation">
					<a class="col-xs-3 col-sm-3 progress-lessons {{ home_active }}" href="/home">
						<span class="glyphicon glyphicon-home"></span> <span class="hidden-xs">HOME</span>
					</a>
					<a class="col-xs-3 col-sm-3 progress-lessons {{ lessons_active }}" href="/lessons">
						<span class="glyphicon glyphicon-flash"></span> <span class="hidden-xs">LEARN</span>
					</a>
					<a class="col-xs-3 col-sm-3 progress-voc {{ reader_active }}" href="/reader">
						<span class="glyphicon glyphicon-bookmark"></span> <span class="hidden-xs">READ</span>
					</a>
					<a class="col-xs-3 col-sm-3 progress-book {{ create_active }}" href="/reader">
						<span class="glyphicon glyphicon-comment"></span> <span class="hidden-xs">CREATE</span>
					</a>
				</nav>
			{% endblock %}
		</div>

		<div class="col-md-3 hidden-sm hidden-xs">
			<div class="user-info pull-right" style="margin: 15px">
				{% if user.is_authenticated %}
					<span class="logged-in">
						<span lang="grc">χαῖρε</span>, 
						<a href="/profile/" class="username">
							<img src="http://www.gravatar.com/avatar/{{ email_hash }}?s=25&d=mm" class="img-circle img-thumbnail"> 
							{{ user.username }} 
							<span style="color: #6378A5; font-size: 1.2em">!</span>
						</a>
						
						<a href="/logout/">Log out</a>
					</span>
				{% else %}
					<span class="logged-out">
						<a href="/login" class="log-in-link">Would you care to log in?</a>
					</span>
				{% endif %}
			</div>

			{% comment %}
				<div class="btn-group pull-right" style="margin: 24px;">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">English <span class="caret" style="margin-left: 10px"></span></button> 
					<ul class="dropdown-menu" role="menu">
						<li> <a href="#">български език</a></li>
						<li> <a href="#">Deutsch</a></li>
						<li> <a href="#">English <span class="glyphicon glyphicon-ok"></span></a></li>
						<li> <a href="#">Italiano</a></li>
						<li> <a href="#">فارسی</a></li>
					</ul>
				</div>
			{% endcomment %}
		</div>
	</header>

	<div class="row" id="main">
		{% block content %} {% endblock %} 	
	</div>
</div>
</body>
</html>
