{% load i18n %}
{% load set_var %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
	{% set dir = "rtl" %}
{% else %}
	{% set dir = "ltr" %}
{% endif %}

<!DOCTYPE html>
<html dir="{{ dir }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% trans "Ancient Geek - by the Open Philology Project" %}
	</title>

	<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<!--<link href="/static/css/phaidra.css" rel="stylesheet">-->

	{% block css %}
		<link href="/static/css/{{ dir }}/{{ css_file }}.css" rel="stylesheet">
	{% endblock %}

	<link rel="shortcut icon" href="/static/images/logo.ico">
	<link href="/static/js/lib/daphnejs/dist/daphne.css" rel="stylesheet">
	<link href="/static/js/lib/moreajs/dist/morea.css" rel="stylesheet">
	<link href="/static/js/lib/typegeek/dist/typegeek.min.css" rel="stylesheet">

	<!-- JS -->
	<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
	<script src="/static/js/components/requirejs/require.js"></script>
	<script>
		require(['/static/js/config.js'], function() {
			require(['/static/js/main.js']);
		});
	</script>
	<script>var CSRF_TOKEN = "{{ csrf_token }}"; var LOCALE = "{{ LANGUAGE_CODE }}"; var DIR = "{{ dir }}"; var USER = "{{ user.username }}";</script>

</head>
<body>

<div class="container">
	<header class="row banner">
		<div class="col-md-7 col-sm-8 col-xs-5">
			{% block nav %}
				<nav class="row navigation">
					<a class="col-xs-3 col-sm-3 progress-home {{ home_active }}" href="/{{ LANGUAGE_CODE }}/">
						<span class="glyphicon glyphicon-home"></span> <span class="hidden-sm hidden-xs">{% trans "Ancient Geek" %}</span>
					</a>
					<a class="col-xs-3 col-sm-2 progress-lessons {{ lessons_active }}" href="/{{ LANGUAGE_CODE }}/lessons">
						<span class="glyphicon glyphicon-flash"></span> <span class="hidden-sm hidden-xs">{% trans "Learn" %}</span>
					</a>
					<a class="col-xs-3 col-sm-2 progress-voc {{ reader_active }}" href="/{{ LANGUAGE_CODE }}/reader/urn:cts:greekLit:tlg0003.tlg001.perseus-grc:1.90.3">
						<span class="glyphicon glyphicon-bookmark"></span> <span class="hidden-sm hidden-xs">{% trans "Read" %}</span>
					</a>
					<a class="col-xs-3 col-sm-2 progress-book {{ create_active }}" href="/{{ LANGUAGE_CODE }}/create">
						<span class="glyphicon glyphicon-comment"></span> <span class="hidden-sm hidden-xs">{% trans "Create" %}</span>
					</a>
				</nav>
			{% endblock %}
		</div>

		<div class="col-md-5 col-sm-4 col-xs-7">
			<div class="user-info">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{% get_language_info for LANGUAGE_CODE as lang %}
						{{ lang.name_local }} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{% get_language_info_list for LANGUAGES as languages %}
						
						{% for language in languages %}
							<form action="{% url 'set_language' %}" method="post">
								{% csrf_token %}
								<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
								<input name="language" type="hidden" value="{{ language.code }}">
								<input type="submit" class="btn btn-link" value="{{ language.name_local }}">
							</form>
						{% endfor %}
					</ul>
				</div>
				{% if user.is_authenticated %}
					<span class="logged-in">
						<a href="/profile/" class="username">
							<img src="http://www.gravatar.com/avatar/{{ email_hash }}?s=25&d=mm" class="img-circle img-thumbnail"> 
							{{ user.username }} 
						</a>
					</span>
				{% else %}
					<span class="logged-out">
						<a href="/login" class="log-in-link">{% trans "Login" %}</a>
					</span>
				{% endif %}
			</div>
			{# Language Selection! #}
		</div>
	</header>

	<div class="row" id="main">
		{% block content %} {% endblock %}
	</div>
</div>
<div class="report">
	<a href="/aboutus/#team" data-title="Contact Us" target="_blank">
		<span class="glyphicon glyphicon-envelope"></span>
	</a>
	<a href="https://github.com/OpenPhilology/phaidra/issues" target="_blank" data-title="Report a Bug">
		<span class="glyphicon glyphicon-flag"></span>
	</a>
</div>

<div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="notificationLabel" aria-hidden="true">
</div>
</body>
</html>
