<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Historical Languages eLearning - by Open Philology Project
	</title>

	<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/phaidra.css" rel="stylesheet">
	<link href="/static/css/parse-tree.css" rel="stylesheet">

	<!-- JS -->
	<script data-main="/static/js/main" src="/static/js/lib/require.js"></script>

</head>
<body>

<div class="container">
	<header class="row banner">
		<div class="col-md-1 hidden-sm hidden-xs" id="logo-container">
			<a href="/"><img src="/static/images/elearning-logo.png"></a>
		</div>
		<div class="col-md-7">

			{% block nav %}
				<nav class="row navigation">
					<a class="col-xs-4 col-sm-4 progress-lessons {{ lessons_active }}" href="/">
						<strong>
							<span class="glyphicon glyphicon-list"></span>
							15
						</strong>
						<small>
							lessons completed
						</small>
					</a>
					<a class="col-xs-4 col-sm-4 progress-voc {{ vocab_active }}" href="/vocab">
						<strong>
							<span class="glyphicon glyphicon-inbox"></span>
							50 
						</strong>
						<small>
							words learned
						</small>
					</a>
					<a class="col-xs-4 col-sm-4 progress-book {{ viz_active }}" href="/viz">
						<strong>
							<span class="glyphicon glyphicon-book"></span>
							10% 
						</strong>
						<small>
							Thucydides
						</small>
					</a>
				</nav>
			{% endblock %}
		</div>

		<div class="col-md-4">
			<div class="user-info pull-right" style="margin: 20px">
				{% if user.is_authenticated %}
					<span class="logged-in">
						<span class="greek-text">χαῖρε</span>, 
						<a href="/profile/" class="username">
							<img src="http://www.gravatar.com/avatar/{{ email_hash }}?s=25&d=mm" class="img-circle img-thumbnail"> 
							{{ user.username }} 
							<span style="color: #6378A5; font-size: 1.2em">!</span>
						</a>
						
						<a href="/logout/">Log out</a>
					</span>
				{% else %}
					<span class="logged-out">
						<a href="/login" class="log-in-link">Would you care to log in?</a>
					</span>
				{% endif %}
			</div>

			{% comment %}
				<div class="btn-group pull-right" style="margin: 24px;">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">English <span class="caret" style="margin-left: 10px"></span></button> 
					<ul class="dropdown-menu" role="menu">
						<li> <a href="#">български език</a></li>
						<li> <a href="#">Deutsch</a></li>
						<li> <a href="#">English <span class="glyphicon glyphicon-ok"></span></a></li>
						<li> <a href="#">Italiano</a></li>
						<li> <a href="#">فارسی</a></li>
						
					</ul>
				</div>
			{% endcomment %}
		</div>
	</header>

	<div class="row main">
		{% block content %} {% endblock %} 	
	</div>
</div>
</body>
</html>
