<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Submission Data
	</title>

	<!-- CSS -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/global.ltr.css" rel="stylesheet">

	<link rel="shortcut icon" href="/static/images/logo.ico">

	<!-- JS -->
	<script src="/static/js/lib/underscore-min.js"></script>
	<script src="/static/js/lib/d3.v3.min.js"></script>

</head>
<body>

<script src="/static/js/submission-analysis.js"></script>
</body>
</html>
