{% extends "base.html" %}
{% load i18n %}

{# Determine which navigation element is 'active'  #}
{% block nav %}
	{% with 'active' as home_active %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block content %}

	<div class="col-md-7 col-md-offset-1" style="margin-top: 30px">
		<h1>{% trans "Continue Learning!" %}</h1>
		<p>
			{% trans "Round out your knowledge of nouns by learning the 3rd declension nouns." %}
		</p>
		<a href="#" class="btn btn-default">{% trans "Keep Learning Greek" %}</a>

		<hr>

		<h2>{% trans "Ready to put your Greek skills to use?" %}</h2>	
		<p>{% trans "Here are some other ways you can improve your Greek:" %}</p>
		<ul>
			<li> {% trans "Read" %} </li>
			<li> {% trans "Annotate" %} </li>
			<li> {% trans "Etc." %}</li>
		</ul>
	</div>

	<div class="col-md-3 feedback-container" style="background-color: rgba(255, 255, 255, 0.8)">
		<div class="achievements">
			<a href="#" class="box">
				<strong>75</strong>
				<br>
				{% trans "words learned" %}
			</a>
			<a href="#" class="box">
				<strong>12</strong>
				<br>
				{% trans "lessons completed" %}
			</a>
			<a href="#" class="box">
				<strong>13</strong>
				<br>
				{% trans "skills earned" %}
			</a>
			<a href="#" class="box">
				<strong>20</strong>
				<br>
				{% trans "original annotations" %}
			</a>
		</div>

		<h3>{% trans "Records" %}</h3>
		<div id="records">
			<div class="sparkline"></div>
			{% trans "10 lessons in a week" %}
		</div>
		<hr>

		<h3>{% trans "Recent Activity" %}</h3>
		<h4>{% trans "Yesterday" %}</h4>
		<p>
			<span class="badge lesson">+ 2</span> {% trans "Completed 2 lessons" %}<br>
			<span class="badge vocab">+ 10</span> {% trans "Learned 10 new words" %}<br>
		</p>
		<h3>{% trans "Last Week" %}</h3>
		<p>
			<span class="badge treebank">+ 4</span> {% trans "Treebanked 4 sentences" %}<br>
		</p>
	</div>

{% endblock %}
