{% extends "base.html" %}

	{# Determine which navigation element is 'active'  #}
	{% block nav %}
		{% with 'active' as lessons_active %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %}

		<div class="col-md-4 col-md-push-8 feedback-container">
			<div class="calls-to-action" style="text-align: center">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> <span class="hidden-inline-sm">Strengthen</span> Skills</button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span> <span class="hidden-inline-sm">Practice</span> Vocab</button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Grammar <span class="hidden-inline-sm">Guide</span></button>
			</div>

			<hr>

			<!-- High-level overview of user progress -->
			<div class="hidden-sm hidden-xs">
				<img src="/static/images/thuc.png" style="height: 100px; float: right">
				<h2>TARGET TEXT</h2>
				<p>
					<strong>Author:</strong> Thucydides<br>
					<strong>Work:</strong> <em>History of the Peloponnesian War</em>
				</p>

				<div class="row" id="pies">
					<div class="col-md-4">
						<div id="vocab-pie"></div>
						<h3>Vocabulary</h3> learned
					</div>

					<div class="col-md-4">
						<div id="morph-pie"></div>
						<h3>Morphology</h3> learned
					</div>
					
					<div class="col-md-4">
						<div id="syn-pie"></div>
						<h3>Syntax</h3> learned
					</div>
				</div>

				<hr>

				<h2>RECORDS</h2>
				<div id="records">
					<div class="sparkline"></div>
					10 lessons in a week
				</div>
				<hr>

				<h2>RECENT ACTIVITY</h2>
				<h3>Yesterday</h3>
				<p>
					<span class="badge lesson">+ 2</span> Completed 2 lessons<br>
					<span class="badge vocab">+ 10</span> Learned 10 new words<br>
				</p>
				<h3>Last Week</h3>
				<p>
					<span class="badge treebank">+ 4</span> Treebanked 4 sentences<br>
				</p>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-7 col-md-pull-4 module-container">
				<!-- <div class="row">
					<div class="col-md-12">
						<a class="module keep-learning" href="/module/3/section/1/slide/0" style="min-height: 60px">
							<div>
								<h3><span class="glyphicon glyphicon-flag"></span> Keep Learning Present, Active, Indicative Verbs!</h3>
							</div>
						</a>
					</div>
				</div>-->
				<div class="row">
					<div class="col-sm-3 col-md-3">
						<a href="/module/1/section/0/slide/0" class="module basics">
							<img src="/static/images/icon_grk_amphora.png" alt="The Greek Alphabet">
							<div>
								<h3>Greek Alphabet</h3>
								<span class="circle complete" title="Alphabet Table"></span>
								<span class="circle complete" title="Punctuation"></span>
							</div>
						</a>
					</div>
					<!-- Modules a user cannot yet access should not be links -->
					<div class="col-sm-3 col-md-3">
						<a href="/module/2/section/0/slide/0" class="module basics">
							<!-- <img src="/static/images/icon_grk_alphabet.png" alt="Diacritics">-->
							<div>
								<h3>Greek Diacritics</h3>
								<span class="circle complete" title="Breathings"></span>
								<span class="circle complete" title="Syllables"></span>
								<span class="circle complete" title="Elision"></span>
								<span class="circle complete" title="Accent"></span>
								<span class="circle complete" title="Punctuation"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/3/section/0/slide/0" class="module nouns">
							<div>
								<img src="/static/images/icon_grk_monster.png" alt="Introduction to Nouns">
								<h3>Introduction to Nouns</h3>
								<span class="circle complete" title="Nouns in Greek"></span>
								<span class="circle complete" title="Gender"></span>
								<span class="circle complete" title="Number"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/4/section/0/slide/0" class="module nouns">
							<!--<img src="/static/images/icon_grk_nouns_intro.png" alt="Introduction to Alpha Declension">-->

							<div>
								<h3>Cases of Nouns</h3>
								<span class="circle complete" title="Nominative Case"></span>
								<span class="circle complete" title="Accusative Case"></span>
								<span class="circle complete" title="Genitive Case"></span>
								<span class="circle complete" title="Dative Case"></span>
								<span class="circle complete" title="Vocative Case"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/5/section/0/slide/0" class="module nouns">
							<!-- <img src="/static/images/icon_grk_amphora.png" alt="Introduction to First Declension">-->

							<div>
								<h3>First Declension</h3>
								<span class="circle complete" title="Nouns in -α"></span>
								<span class="circle complete" title="Nouns in -η"></span>
								<span class="circle complete" title="Nouns in -η"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/6/section/0/slide/0" class="module nouns">

							<!-- <img src="/static/images/icon_grk_nouns_first_dec.png" alt="Introduction to Second Declension">-->

							<div>
								<h3>Second Declension</h3>
								<span class="circle complete" title="Nouns in -ο"></span>
								<span class="circle complete" title="Nouns in -ον"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/7/section/0/slide/0" class="module verbs">

							<img src="/static/images/icon_grk_parthenon.png" alt="Introduction to Verbs">

							<div>
								<h3>Introduction to Verbs</h3>
								<span class="circle complete" title="Person"></span>
								<span class="circle complete" title="Number"></span>
								<span class="circle complete" title="Tense"></span>
								<span class="circle complete" title="Mood"></span>
								<span class="circle complete" title="Voice"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/8/section/0/slide/0" class="module verbs">

							<!-- <img src="/static/images/icon_grk_monster.png" alt="Present Indicative Active">-->

							<div>
								<h3>Present Indicative Active</h3>
								<span class="circle complete" title="λύω"></span>
								<span class="circle complete" title= "εἰμί"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/9/section/0/slide/0" class="module verbs">

							<!-- <img src="/static/images/icon_grk_monster.png" alt="Present Indicative Active">-->

							<div>
								<h3>Future Indicative Active</h3>
								<span class="circle complete" title="λύσω"></span>
								<span class="circle complete" title= "ἔσομαι"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<a href="/module/10/section/0/slide/0" class="module verbs">

							<img src="/static/images/icon_grk_deer.png" alt="Adjectives: First and Second Declension">

							<div>
								<h3>Adjectives: First and Second Declension</h3>
								<span class="circle complete" title= "Three-ending"></span>
								<span class="circle complete" title= "Two-ending"></span>
							</div>
						</a>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Adjectives of the Vowel Declension</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Analysis of the Primary Tenses</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Secondary Tenses</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Demonstrative Pronouns</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Present and Imperfect of <span class="greek-text">εἰμί</span>, to be</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Introduction to the Middle Voice</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Continuing the Middle Voice</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Indicative Passive</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Perfect/Pluperfect Middle/Passive (Pt. I)</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Perfect/Pluperfect Middle/Passive (Pt. II)</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Prepositions</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Stems of the Consonant Declension (Pt. I)</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Stems of the Consonant Declension (Pt. II)</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3>Adjectives of the Consonant Declension</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3><span class="greek-text">-αω</span> Contract Verbs</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="module">
							<div>
								<h3><span class="greek-text">-εω, -οω</span> Contract Verbs</h3>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
								<span class="circle"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
