{% extends "base.html" %}

	{# Determine which navigation element is 'active'  #}
	{% block nav %}
		{% with 'active' as lessons_active %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %}

		<div class="col-md-4 col-md-push-8 feedback-container">
			<div class="calls-to-action" style="text-align: center">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> <span class="hidden-inline-sm">Strengthen</span> Skills</button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-inbox"></span> <span class="hidden-inline-sm">Practice</span> Vocab</button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Grammar <span class="hidden-inline-sm">Guide</span></button>
			</div>

			<!-- High-level overview of user progress -->
			<div class="hidden-sm hidden-xs">
				<h2>TARGET TEXT</h2>
				<p>
					Thucydides' <em>History of the Peloponnesian War</em>
				</p>
				<hr>

				<h2>THIS WEEK</h2>
				<p>Chart here</p>

				<hr>

				<h2>RECENT ACTIVITY</h2>
				<h3>Yesterday</h3>
				<p>
					<span class="badge lesson">+ 2</span> Completed 2 lessons<br>
					<span class="badge vocab">+ 10</span> Learned 10 new words<br>
				</p>
				<h3>Last Week</h3>
				<p>
					<span class="badge treebank">+ 4</span> Treebanked 4 sentences<br>
				</p>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-7 col-md-pull-4 module-container">

			<div class="row">
				<div class="col-md-12">
					<a class="module keep-learning" href="/module" style="min-height: 60px">
						<div>
							<h3><span class="glyphicon glyphicon-flag"></span> Keep Learning <span class="greek-text">α</span>-Declension!</h3>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="module basics" href="/module">
						<!--<span class="practice-module glyphicon glyphicon-flash" title="Practice"></span>-->

						<div>
							<h3>The Greek Alphabet</h3>
							<span class="circle complete" title="Lowercase"></span>
							<span class="circle complete" title="Uppercase"></span>
						</div>
					</a>
				</div>

			<!-- Modules a user cannot yet access should not be links -->
				<div class="col-sm-3 col-md-3">
					<a href="#" class="module basics">
						<div>
							<h3>Greek Diacritics</h3>
							<span class="circle complete" title="Breathings"></span>
							<span class="circle complete" title="Syllables"></span>
							<span class="circle complete" title="Elision"></span>
							<span class="circle complete" title="Accent"></span>
							<span class="circle complete" title="Punctuation"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-md-3">
					<a href="#" class="module nouns">
						<div>
							<h3>Introduction to Nouns</h3>
							<span class="circle complete" title="Greek Cases"></span>
							<span class="circle complete" title="Number"></span>
							<span class="circle complete" title="Gender"></span>
							<span class="circle complete" title="Declensions"></span>
							<span class="circle complete" title="Alpha Declension"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-md-3">
					<a href="#" class="module nouns">
						<div>
							<h3><span class="greek-text">α</span>-Declension<br>(Feminines in -<span class="greek-text">η</span>)</h3>
							<span class="circle complete" title="Introduction"></span>
							<span class="circle" title="Introduction"></span>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>Introduction to Verbs</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3><span class="greek-text">α</span>-Declension<br>(Feminines in -<span class="greek-text">α</span>)</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>Imperfect Activate Indicative</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>O-Declension Nouns (Pt. I)</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>O-Declension Nouns (Pt. II)</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>Future and First Aorist Indicative Active</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3">
					<div class="module">
						<div>
							<h3>The Art of Reading</h3>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
							<span class="circle"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
