{% extends "base.html" %} 
{% load i18n %}

	{# Determine which CSS file to load #}
	{% block css %}
		{% with 'lessons' as css_file %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}


	{# Determine which navigation element is 'active'  #}
	{% block nav %} 
		{% with 'active' as lessons_active %} 
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %} 


	{% if not user.is_authenticated %}
		<script>
			window.location.replace('/login');
		</script>
	{% else %}
		<div class="col-md-4 col-md-push-8 feedback-container">
			<div class="hidden-sm hidden-xs">
				<img src="/static/images/thuc.png" style="height: 100px; float: right">
				<h3>TARGET TEXT</h3>
				<p>
					<strong>Author: </strong> Thucydides<br>
					<strong>Work: </strong> <em>History of the Peloponnesian War</em>
				</p>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-7 col-md-pull-4 module-container">
			<div class="row">
				<h1><img src="/static/images/tree-loader.gif"> Loading Lessons...</h1>
			</div>
		</div>
	{% endif %}

{% endblock %} 
