{% extends "base.html" %} 
{% load i18n %}

	{# Determine which CSS file to load #}
	{% block css %}
		{% with 'lessons' as css_file %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}


	{# Determine which navigation element is 'active'  #}
	{% block nav %} 
		{% with 'active' as lessons_active %} 
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %} 


	{% if not user.is_authenticated %}
		<script>
			window.location.replace('/login?url=' + window.location.pathname);
		</script>
	{% else %}
		<div class="module-container"></div>
	{% endif %}

{% endblock %} 
