{% extends "base.html" %}
{% load i18n %}

	{# Determine which CSS file to load #}
	{% block css %}
		{% with 'lessons' as css_file %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}


	{# Determine which navigation element is 'active'  #}
	{% block nav %}
		{% with 'active' as lessons_active %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %}


	{% get_current_language_bidi as LANGUAGE_BIDI %}

	{% if not user.is_authenticated %}
		<div class="col-md-4 col-md-offset-1" style="margin-top: 100px;">
			<div class="thuc">
				<img src="/static/images/new_thuc.png" style="background-color: #1fadad; height: 300px;" class="img-circle">
				<img class="bounce" src="/static/images/glasses.svg" style="position: absolute; left: 109px; top: 92px; width: 102px; height: 102px"> 
			</div>

		</div>
		<div class="col-md-7" style="margin-top: 100px;">
			<h1>Where do you think you're going?</h1>
			<blockquote>
				<p>Ancient Geek is current in <strong>private beta testing</strong>, because we are currently collecting usage data.</p>
				<p>Please <a href="/login">login</a> or get it touch with us if you're interested in being a tester.</p> 
				<footer>Thucydides <em>(ca 460 - 395 BC)</em></footer>
			</blockquote>
		</div>

	{% else %}
		<!-- Move this logic into CSS -->
		<div class="col-md-10 col-md-offset-1">
			<div class="row slide">
				<div class="corner right">
					<a href="#" data-toggle="tooltip" data-placement="left" title="{% trans 'Turn Page' %}"></a>
				</div>
				<div class="lesson-header">
					<h1><img src="/static/images/tree-loader.gif"> {% trans "Loading Lesson" %}</h1>
					<h2></h2>
				</div>
				{% spaceless %}
					<div class="lesson-progress"></div>
				{% endspaceless %}

				<div id="lesson-content"></div>

				<div id="lesson-feedback">
					{# These are the types of feedback a user can receive #}
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}
