{% extends "base.html" %}

	{# Determine which navigation element is 'active'  #}
	{% block nav %}
		{% with 'active' as reader_active %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %}

	<!-- Container for Reader -->
	<div id="reader">
		<!-- Container for Pages -->
		<div class="row page-container">
		</div>

		<!-- Container for Notes -->
		<div class="row notes-container"></div>

		<!-- Container for High-level knowledge viz (auto-appended by js) -->
	</div>
	
	{% endblock %}
