{% extends "base.html" %}

	{# Determine which navigation element is 'active'  #}
	{% block nav %}
		{% with 'active' as viz_active %}
			{{ block.super }}
		{% endwith %}
	{% endblock %}

	{% block content %}

	<div id="reader">
		<div class="row">
			<div class="col-md-6">
				<div class="page">
					<div class="corner left">
						<a href="#" title="Next Page"></a>
					</div>
					<h1>Thucydides' Peloponnesian War <small><a href="#">Section 1.89</a></small></h1>
					<hr>
					<p class="greek-text">οἱ γὰρ Ἀθηναῖοι τρόπῳ τοιῷδε ἦλθον ἐπὶ τὰ πράγματα ἐν οἷς ηὐξήθησαν.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="page">
					<div class="corner right">
						<a href="#" title="Next Page"></a>
					</div>
					<h1>Thucydides' Peloponnesian War <small><a href="#">Section 1.90</a></small></h1>
					<hr>
					<p class="greek-text">Ἀθηναίων δὲ τὸ κοινόν, ἐπειδὴ αὐτοῖς οἱ βάρβαροι ἐκ τῆς χώρας ἀπῆλθον, διεκομίζοντο εὐθὺς ὅθεν ὑπεξέθεντο παῖδας καὶ γυναῖκας καὶ τὴν περιοῦσαν κατασκευήν, καὶ τὴν πόλιν ἀνοικοδομεῖν παρεσκευάζοντο καὶ τὰ τείχη.</p> 
				</div>
			</div>
		</div>
		<div class="row notes-container">
			<div class="col-md-12 notes">
				<p><span class="badge">10</span> Annotations</p>
			</div>
		</div>
	</div>
	
	{% endblock %}
