{% extends "base.html" %}
{% load i18n %}

{# Determine which navigation element is 'active'  #}
{% block nav %}
	{% with 'active' as vocab_active %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block content %}

	<div class="col-md-10 col-md-offset-1">
		<h1>{% trans "Vocabulary" %}</h1>
		<p>{% trans "50 words learned" %}</p>
		<hr>
	</div>
</div>

	<div class="row main">
		<div class="col-md-7 col-md-offset-1">
			<table class="table">
				<thead>
					<tr>
						<td style="width: 20%">{% trans "Word" %}</td>
						<td style="width: 50%">{% trans "Definition" %}</td>
						<td style="width: 10%; text-align: center">{% trans "Lesson" %}</td>
						<td style="width: 30%; text-align: center">{% trans "Times Seen" %}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="greek-text">γνώμη, ης, ἡ</td>
						<td>{% trans "means of knowing, mark, token, judgement will, opinion, mind, intelligence." %}</td>
						<td style="text-align: center">{% trans "4" %}</td>
						<td style="text-align: center">{% trans "20" %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-3">
			<p style="text-align: center">
				<a class="btn btn-default" href="#">{% trans "Strengthen Vocabulary" %}</a>
			</p>

			<p>
				<strong>{% trans "Options" %}</strong>
				<form role="form">
					<div class="checkbox">
						<label>
							<input type="checkbox"> {% trans "Hide Definitions" %}
						</label>
					</div>
				</form>
			</p>
			<p>
				<strong>{% trans "Sort By" %}</strong>
				<form role="form">
					<div class="radio">
						<label>
							<input type="radio"> {% trans "Recency" %}
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio"> {% trans "Alphabetical" %}
						</label>
					</div>
				</form>
		</div>
	</div>

{% endblock %}
