<div class="panel panel-default">
	<div class="panel-heading" style="text-align: center">
		<h5><span class="greek-text">ὁ ἡ τό</span>, The</h5>
	</div>
	<div class="panel-body">
		<table class="table inflection-table">
			<thead>
				<tr>
					<td>Case</td>
					<td>Masc.</td>
					<td>Fem.</td>
					<td>Neut.</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4"><strong>Singular</strong></td>
				</tr>
				<tr class="current">
					<td>Nom.</td>
					<td><span class="greek-text">ὁ</span></td>
					<td><span class="greek-text">ἡ</span></td>
					<td><span class="greek-text">τό</span></td>
				</tr>
				<tr class="future">
					<td>Gen.</td>
					<td><span class="greek-text">τοῦ</span></td>
					<td><span class="greek-text">τῆς</span></td>
					<td><span class="greek-text">τοῦ</span></td>
				</tr>
				<tr class="future">
					<td>Dat.</td>
					<td><span class="greek-text">τῷ</span></td>
					<td><span class="greek-text">τῇ</span></td>
					<td><span class="greek-text">τῷ</span></td>
				</tr>
				<tr class="future">
					<td>Acc.</td>
					<td><span class="greek-text">τόν</span></td>
					<td><span class="greek-text">τήν</span></td>
					<td><span class="greek-text">τό</span></td>
				</tr>
				<tr>
					<td colspan="4"><strong>Plural</strong></td>
				</tr>
				<tr class="current">
					<td>Nom.</td>
					<td><span class="greek-text">οἱ</span></td>
					<td><span class="greek-text">αἱ</span></td>
					<td><span class="greek-text">τά</span></td>
				</tr>
				<tr class="future">
					<td>Gen.</td>
					<td><span class="greek-text">τῶν</span></td>
					<td><span class="greek-text">τῶν</span></td>
					<td><span class="greek-text">τῶν</span></td>
				</tr>
				<tr class="future">
					<td>Dat.</td>
					<td><span class="greek-text">τοῖς</span></td>
					<td><span class="greek-text">ταῖς</span></td>
					<td><span class="greek-text">τοῖς</span></td>
				</tr>
				<tr class="future">
					<td>Acc.</td>
					<td><span class="greek-text">τούς</span></td>
					<td><span class="greek-text">τάς</span></td>
					<td><span class="greek-text">τά</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
