<!-- Gets populated with Notes about Greek text -->
<div class="notes-nav">
	<a href="#" title="Add Annotation"><span class="glyphicon glyphicon-plus-sign"></span></a> 
	<a href="#" title="Show Resources"><span class="glyphicon glyphicon-chevron-up"></span></a> 
</div>
<p class="intro">Hover over a sentence in the text to see available annotations, or to add your own!</p>

<div class="resources">
	<h3 class="resources-header"></h3>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<span class="label label-success">1</span> Parse Tree (<a href="#">View Sentence in Parse Tree</a>) 
		</div>
		<div class="col-sm-4">
			<span class="label label-primary">0</span> Aligned Translations 
		</div>
		<div class="col-sm-4">
			<span class="label label-danger">0</span> Occurences in Thucydides 
		</div>
	</div>
</div>
