<!-- Gets populated with Notes about Greek text -->
<div class="notes-nav">
	<a href="#" data-toggle="tooltip" title="Preferences"><span class="glyphicon glyphicon-cog"></span></a>
	<a href="#" data-toggle="tooltip" title="Add Annotation"><span class="glyphicon glyphicon-comment"></span></a> 
	<a href="#" data-toggle="tooltip" title="Show Resources"><span class="glyphicon glyphicon-chevron-up"></span></a> 
</div>
<p class="intro">Hover over a sentence in the text to see available annotations, or to add your own!</p>

<div class="resources">
	<p class="resources-header">
		<span lang="grc" class="selected"><%= word.value %></span>
		<span>
			comes from <span lang="grc"><%= word.article || '' %> <%= word.lemma %></span>
		</span>
		<span id="parse-vals"> 
			<a href="#" class="btn btn-link" title="Parse">
				<strong>Parse</strong><span class="vals" style="display: none">
					<%= word.pos || '' %>
					<%= word.case || '' %>
					<%= word.number || '' %>
					<%= word.gender || '' %>
					<%= word.tense || '' %>
					<%= word.voice || '' %>
					<%= word.mood || '' %>
					<%= word.person || '' %>
				</span>
			</a>
		</span>
	</p>
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li> Aligned to: <a href="#">English <span class="label label-primary">1</span></a>)</li>
				<li> View Sentence as Parse Tree</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul>
				<li> Relevant Grammar:</li>
				<% if (grammar.length > 0) { %>
					<ul>
					<% _.each(grammar, function(entry) { %>
						<% console.log(entry) %>
						<li><a href="/grammar/#<%= entry.key %>"><%= entry.title %></a></li>
					<% }); %>
					</ul>
				<% } else { %>
					<ul>
						<li><em>None found</em></li>
					</ul>
				<% } %>
				<li> Create Annotation </li>
			</ul>
		</div>
	</div>
</div>
