<script type="text/template" id="slide_multi_composition">
	<h4><%= title %></h4>

	<p>
		<%= content %>
	</p>

	<div class="well">
		<ul class="answers short-multi greek-text" style="min-height: 40px">
		</ul>
	</div>

	<% _.each(options, function(optionSet) { %>
		<ul class="options short-multi greek-text inline">

			<% _.each(optionSet, function(option) { %>
				<li><a href="#" data-value="<%= option.value  %>"><%= option.display %></a></li>
			<% }); %>

		</ul>
	<% }); %>

	<p class="alert" style="display: none">
	</p>
</script>
<script type="text/template" id="slide_info">
	<h4><%= title %></h4>

	<%= content %>

	<p>
		<a href="<% print(index + 1) %>" class="btn-continue">Continue</a>
	</p>
</script>
