<!--
	TODO: Liberate this from these awful <script> tags into just _ template code, included via text! in requirejs.
-->
<script type="text/template" id="slide_direct_select">
	<div style="text-align: center; margin-bottom: 10px; font-size: 3em">
		<%= question %>
	</div>

	<div class="greek-text exercise direct-select horizontal">
		<% _.each(options, function(optionSet) { %>

				<% _.each(optionSet, function(option, index) { %>
					<a href="#" data-value="<%= option.value  %>"><span class="badge"><%= index + 1 %></span><%= option.display %></a> 
				<% }); %>

		<% }); %>
	</div>

	<div class="slide-feedback" style="display: none">
	</div>
</script>
<script type="text/template" id="slide_multi_composition">
	<h4><%= title %></h4>

	<p>
		<%= content %>
	</p>

	<div class="exercise">
		<div class="well">
			<ul class="answers short-multi greek-text" style="min-height: 40px">
			</ul>
		</div>

		<% _.each(options, function(optionSet) { %>
			<ul class="options short-multi greek-text inline">

				<% _.each(optionSet, function(option) { %>
					<li><a href="#" data-value="<%= option.value  %>"><%= option.display %></a></li>
				<% }); %>

			</ul>
		<% }); %>
	</div>

	<p class="slide-feedback" style="display: none">
	</p>
</script>
<script type="text/template" id="slide_info">
	<h4><%= title %></h4>

	<%= content %>

	<p>
		<a href="<% print(index + 1) %>" class="btn-continue">Continue</a>
	</p>
</script>
