{% load i18n %}
<div id="toc">
	<h2>{% trans "Table of Contents" %}</h2>
	<ul>
		<% for (var i = 0; i < content.length; i++) { %>	
			<li> <%= content[i].title %> </li>

			<% if (content[i].modules) { %>
				<ul>
				
				<% var modules = content[i]["modules"]; %>
				<% for (var j = 0; j < modules.length; j++) { %>
					<li> <%= modules[j]["title"] %> </li>
					<ul>

					<% var slides = modules[j]["slides"] %>
					<% for (var k = 0; k < slides.length; k++) { %>
						<% if (slides[k]["smyth"]) { %> 
							<li class="<% if (slides[k].smyth == selected) print('selected'); %>"> <a href="/grammar/<%= slides[k].smyth %>"><%= smyth[slides[k].smyth].title %></a></li>
						<% } %>
					<% } %>

					</ul>
				<% } %>

				</ul>
			<% } %>
		<% } %>
	<ul>
</div>

<div id="grammar-container">
	<div class="row">

	</div>
</div>
