{% load i18n %}
<!-- Gets populated with Notes about Greek text -->
<p class="intro">{% trans "Click a word to see resources for it, or click the comment icon to add your own annotation." %}</p>

<div class="resources">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills" id="reader-menu">
				<li class="active"><a href="#" data-target="about-word"><span class="glyphicon glyphicon-book"></span> Grammar</a></li>
				<li><a href="#" data-target="translations"><span class="glyphicon glyphicon-bookmark"></span> Translations</a></li>
				<li><a href="#" data-target="about-sentence"><span class="glyphicon glyphicon-align-left"></span> Sentence</a></li>
				<li><a href="#" data-target="user-annotations"><span class="glyphicon glyphicon-comment"></span> User Annotations</a></li>
				<li><a href="#" data-target="translate"><span class="glyphicon glyphicon-pencil"></span> Translate!</a></li>
				<li><a href="#" data-target="build-parse-tree"><span class="glyphicon glyphicon-leaf"></span> Build Parse Tree!</a></li>
			</ul>
		</div>
	</div>
	<div class="row" data-source="about-word"></div>
	<div class="row" data-source="translations"></div>
	<div class="row" data-source="about-sentence"></div>
	<div class="row" data-source="translate"></div>
	<div class="row" data-source="user-annotations"></div>
	<div class="row" data-source="build-parse-tree"></div>
</div>
