{% load i18n %}
<!-- Gets populated with Notes about Greek text -->
<div class="notes-nav">
	<a href="#" data-toggle="tooltip" title="{% trans "Preferences" %}"><span class="glyphicon glyphicon-cog"></span></a>
	<a href="#" data-toggle="tooltip" title="{% trans "Add Annotation" %}"><span class="glyphicon glyphicon-comment"></span></a> 
	<a href="#" data-toggle="tooltip" title="{% trans "Show Resources" %}"><span class="glyphicon glyphicon-chevron-up"></span></a> 
</div>
<p class="intro">{% trans "Hover over a sentence in the text to see available annotations, or to add your own!" %}</p>

<div class="resources">
	<div class="row">
		<div class="col-md-6">
			<p class="resources-header">
				<span lang="grc" class="selected"><%= word.value %></span>
				<span>
					{% trans "from" %} <span lang="grc"><%= word.article || '' %> <%= word.lemma %></span>
				</span>
				<span id="parse-vals"> 
					<a href="#" class="btn btn-link" title="Parse">
						<strong>{% trans "Parse" %}</strong><span class="vals" style="display: none">
							<%= word.pos || '' %>
							<%= word.case || '' %>
							<%= word.number || '' %>
							<%= word.gender || '' %>
							<%= word.tense || '' %>
							<%= word.voice || '' %>
							<%= word.mood || '' %>
							<%= word.person || '' %>
						</span>
					</a>
				</span>
			</p>
			<!-- TODO: Put in translations, refactor this CSS -->
			<h3 style="display: inline-block">{% trans "Translations" %}</h3> 

			<a href="#" class="btn btn-link btn-show-trans" data-lang="en" data-toggle="tooltip">{% trans "English" %}</a> 
			<a href="#" class="btn btn-link btn-show-trans" data-lang="fa" data-toggle="tooltip">{% trans "Farsi" %}</a>

			<!-- TODO: Probably move this into a JS interaction -->
			<div class="well">
				<% var wordsFound = 0; %>
				<% console.log(word.translations.length) %>
				<% for (var i = 0; i < word.translations.length; i++) { %>
					<% if (word.translations[i]["CTS"].indexOf(lang) != -1) { %>
						<%= word.translations[i]["value"] %>
						<% wordsFound++ %>
					<% } %>
				<% } %>
				<% console.log(wordsFound) %>
				<% if (wordsFound == 0) { %>
					<em>No Alignment</em>
				<% } %>
			</div>

		</div>
		<div class="col-md-6">
			<h3>{% trans "Other Resources" %}</h3>
			<ul>
				<li> <a href="#" class="parse-tree-view">{% trans "View Sentence as Tree" %}</a></li>
				<li> <a href="#">{% trans "Contribute Annotation" %}</a></li>
			</ul>
			<h3>{% trans "Related Grammar Topics" %}</h3>
			<ul>
			<% if (grammar.length > 0) { %>
				<% _.each(grammar, function(entry, index) { %>
					<% if (index < 5) { %>
						<li><a href="/grammar/<%= entry.key %>"><%= entry.title %></a></li>
					<% } %>
				<% }); %>
			<% } else { %>
				<li><em>{% trans "None found" %}</em></li>
			<% } %>
			</ul>
		</div>
	</div>
</div>
