<div class="row">
	<div class="col-md-12">
		<h1><%= model.get('username') %></h1>
		<hr>
		<div class="pie-container">
			<h2>Progress in Thucydides</h3>
			<div id="vocab">
				<div class="pie"><img src="/static/images/tree-loader.gif"></div>
				<h3>Vocabulary</h3>
				<p>Vocabulary refers to which words you've seen so far.</p>
			</div>
			<div id="morph">
				<div class="pie"><img src="/static/images/tree-loader.gif"></div>
				<h3>Morphology</h3>
				<p>Morphology refers to the different forms you've learned.</p>
			</div>
			<div id="syn">
				<div class="pie"><img src="/static/images/tree-loader.gif"></div>
				<h3>Syntax</h3>
				<p>Syntax refers to the grammar concepts you've learned.</p>
			</div>
		</div>
	</div>
</div>
