<div style="text-align: center; margin-bottom: 10px; font-size: 3em">
	<%= question %>
</div>


<div class="greek-text exercise direct-select <% if (typeof(settings) !== 'undefined' && settings.orientation) { print(settings.orientation); } else { print('vertical'); } %>">
	<% _.each(options, function(option) { %>
			<a href="#" data-value="<%= option.value  %>"><span class="badge"><%= index + 1 %></span><%= option.display %></a> 

	<% }); %>
</div>

<div class="slide-feedback" style="display: none">
</div>
