<div class="definitions">
	<% var alignments = model.getDefinition(); %>
	<% if (alignments) { %>
		<h1><% print(alignments[0]); %></h1>
	<% } else { %>
		<h2><em>No direct alignment found</em>');  %></h2>
	<% } %>

	<% if (alignments.length > 1) { %>
		<p class="alt-definitions" style="margin-top: -15px">Also: &nbsp; &nbsp; <em><% print(_.compact(alignments.slice(1,5)).join(', &nbsp; ')); %></em></p>
	<% } %>

	<p lang="grc">from <strong><%= model.getDictForm() %></strong></p>
</div>


<div class="well">

	<form>
		<div class="input-group">
			<input lang="grc" class="form-control input-lg" class="answer-input" title="<%= model.getHumanReadableMorph() %>" placeholder='<%= model.getHumanReadableMorph() %>'>
			<span class="input-group-btn">
				<button type="submit" style="height: 46px" class="btn btn-success">Answer!</button>
			</span>
		</div>
	</form>
	<hr>
	<p lang="grc" class="greek-sentence"><%= sentence %></p>
	<p class="alt-definitions"><%= model.getHumanReadableMorph() %></p>

</div>


<div class="vocab-notes-container" style="margin-top: 60px">
	<ul class="nav nav-tabs nav-justified">
		<li><a class="btn btn-default" href="#" data-target="alignment"><span class="glyphicon glyphicon-align-center"></span> Translation</a></li>
		<li><a class="btn btn-default" href="#" data-target="parse-tree"><span class="glyphicon glyphicon-leaf"></span> Parse Tree</a></li>
		<li><a class="btn btn-default" href="#" data-target="grammar"><span class="glyphicon glyphicon-book"></span> Grammar</a></li>
	</ul>
	<div class="vocab-notes">
		<% var url = model.get('sentence_resource_uri'); %>
		<div data-source="alignment" style="display: none">
			<div data-toggle="morea" data-targets="en,grc" data-dataUrl="<%= url %>" data-orientation="horizontal"></div>
		</div>
		<div data-source="parse-tree" style="display: none">
			<div data-toggle="daphne" data-dataSource="<%= url %>" data-mode="display"></div>
		</div>
		<div data-source="grammar" class="row" style="display: none; padding-top: 15px">
			<h4><strong>TABLE OF CONTENTS</strong></h4>
			<ul class="table-of-contents"></ul>
			<hr>
		</div>
	</div>
</div>
